* {
  font-family: "Titillium Web", sans-serif;
}

ds-icon {
  margin-right: 1rem;
  margin-left: 1rem;
}


.fixedWidth {
  width: 28rem;
  min-width: 28rem;
}

.fixing-stepper {
  width: min-width !important;
}

.archivo-personalizado-cargado {
  border: solid 2px #d2d9df;
  border-style: dashed;
  border-radius: 10px;
  font-family: "Titilium";
  .text-header {
    font-size: 18px;
  }
  .text-description {
    color: #d2d9df;
    font-size: 14px;
  }
}

.lista-archivos-cargados-custom {
  border: solid #d2d9df 2px;
  border-radius: 10px;
}

.titulo-archivo-cargado {
  font-weight: 900;
  font-size: 16px;
  color: #989999;
}

.monto-reembolsado-activo {
  background-color: var(--sec2);
  border-radius: 10px;
  height: 55px;
}

.col-span-10 {
  grid-column: span 9 / span 9;
}

.col-span-3 {
  grid-column: span 3 / span 3;
}
