registry=https://pkgs.dev.azure.com/VidaSecurity/_packaging/VS-Design-System/npm/registry/
always-auth=true
; begin auth token
//pkgs.dev.azure.com/VidaSecurity/_packaging/VS-Design-System/npm/registry/:username=VidaSecurity
//pkgs.dev.azure.com/VidaSecurity/_packaging/VS-Design-System/npm/registry/:_password=eG1yNHBxNm1xcG1xdjRqcTZudnlyZnhybjZ6eGRod2pwZnpmcms2NmNrc3Fkdmd6M2t5YQ==
//pkgs.dev.azure.com/VidaSecurity/_packaging/VS-Design-System/npm/registry/:email=vidasecurity@security.cl
//pkgs.dev.azure.com/VidaSecurity/_packaging/VS-Design-System/npm/:username=VidaSecurity
//pkgs.dev.azure.com/VidaSecurity/_packaging/VS-Design-System/npm/:_password=eG1yNHBxNm1xcG1xdjRqcTZudnlyZnhybjZ6eGRod2pwZnpmcms2NmNrc3Fkdmd6M2t5YQ==
//pkgs.dev.azure.com/VidaSecurity/_packaging/VS-Design-System/npm/:email=vidasecurity@security.cl
; end auth token