* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.texto-normal {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--color-font-paragraph-secondary);
}

.texto-especial {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--color-font-paragraph-quaternary);
}

ds-table-header.tabla-header {
  background-color: var(--sec2) !important;
}

.css-1vyubn8.css-2z0lnu {
  padding: 10px 25px !important;
}

.bold1 {
  font-size: 18px !important;
  font-weight: bold !important;
}

.bold2 {
  font-weight: bold !important;
}

.text-2xl {
  color: var(--sec2);
  font-weight: bolder;
  font-size: 1.625rem;
  line-height: 1.625rem;
}

.first-section {
  border: 1px solid var(--ter4);
}

.h-20 {
  margin-top: 30px;
  height: 100px;
  margin-bottom: 30px;
}

.textos-card__historial,
.card-historial__texts {
  display: flex;
  flex-direction: column;
}

.textos-card__historial {
  gap: 5px;
}

.textos-card__historial p,
.card-historial__texts h3 {
  display: inline-block;
  margin: 0px;
}

.card-historial__texts {
  gap: 15px;
}

.h3-bold {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: var(--sec2);
}

.card-historial__container {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 30px;
  justify-content: space-between;

}

.historial-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 97vw;
}

.css-9uz96q {
  width: 100%;
  border-color: none !important;
  border-style: none !important;
  border-width: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}



.css-34ntg7 th,
.css-34ntg7 td {
  background-color: red;
}

.wrapper {
  width: 100%;
  border: 1px solid black;
  height: 400px;
  font-size: 24px;

}

.row {

  height: 100px;
  display: flex;
  justify-content: space-between;
}

.row.header {
  margin-bottom: 5px;
  border-bottom: 1px solid black;
}

.row {
  margin-top: 5px;
  margin-bottom: 5px;
}

.divisor {
  width: 95%
}

.texto-header-colapsable {
  font-size: 16px !important;
  font-weight: bold;
}


///////////////////////////////////////////////////
// TABLA HISTORIAL NUEVA ///////////////////////////

.table__container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  border-radius: 8px;
  overflow: hidden;
}

.table--header{
  color: white;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  background: #424893;
  height: 40px;
}

.table--row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  gap: 15px;

  width: 100%;
  height: 50px;
  
}



.size-130px{
  width: 130px;
}

.nombre-titular{
  display: flex;
  flex-direction: column;
}

.size-160px{
  width: 160px;
}
.size-100px{
  width: 100px;
}

.center-text{
  text-align: center;
}

.right-text{
  text-align: right;
}


.header-colapsable{
  display: flex;
}

.contenido-colapsable--borde.oculto {
  display: none !important;
}

.contenido-colapsable--borde.visible{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  gap: 10px;
  background-color: #E6ECF8 ;
  width: 100%;

    
 
    .div-colapsable{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 15px 30px;
      gap: 10px;
      width: 100%;
      background: #FFFFFF;

      .header-colapsable{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 10px 0px;
  
        width: 100%;
        height: 40px;

      }
      .details{

        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;

  
        .info-row{
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          padding: 10px 0px;
    
          width: 100%;
          height: 40px;
  
        }
      }

      .doc-nota{
        display: flex;
        gap: 10px;
        width: auto;
        cursor: pointer;

        .icono-doc{
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        p{
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          display: flex;
          align-items: center;
          text-decoration-line: underline;
          color: #424893;
        }
      }
    }
  
}

.pagination__container{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
