<div class="h-full historial-wrapper">
  <div class="p-5 border-2 border-solid first-section rounded-xl">
    <div class="card-historial__container">
      <div class="card-historial__texts">
        <h3 class="h3-bold">¿Quieres solicitar un reembolso?</h3>
        <div class="textos-card__historial">
          <p><span class="bold2">Tiempos de espera:</span></p>
          <p><span class="bold2">Gastos médicos ambulatorios, ópticos, dentales y medicamentos:</span> 5 días hábiles
            desde el ingreso de la solicitud </p>
          <p><span class="bold2">Gastos hospitalarios:</span> 10 días hábiles desde el ingreso de la solicitud</p>
        </div>
      </div>
      <div class="button-wrapper" [routerLink]="['/solicitud']">
        <ds-button variant="primary" slot-name="text2" size="s3">
          <span class="bold1" slot="text2">Solicitar</span>
        </ds-button>
      </div>
    </div>
  </div>
  <div class="title-historial">
    <p appColored class="py-4 text-2xl title-1">Historial de reembolsos</p>
  </div>
  <!--TABLE-->
  <ng-container *ngIf="showTable">
    <div class="grid w-full">
      <ds-table>
        <ds-table-header appColored #theader class="tabla-header" slot="header">
          <ds-table-header-column class="text-sm" slot="column"><span slot="element">Nombre Beneficiario</span>
          </ds-table-header-column>
          <ds-table-header-column slot="column"><span slot="element">N° Solicitud</span></ds-table-header-column>
          <ds-table-header-column slot="column"><span slot="element">Monto solicitado</span>
          </ds-table-header-column>
          <ds-table-header-column slot="column"><span slot="element">Fecha pago</span>
          </ds-table-header-column>
          <ds-table-header-column slot="column"><span slot="element">Estado</span>
          </ds-table-header-column>
          <ds-table-header-column slot="column"><span slot="element">Documento de liquidación</span>
          </ds-table-header-column>
        </ds-table-header>
        <!--TABLE BODY-->
        <ds-table-body slot="body">
          <!--Row Start-->
          <ng-container *ngFor="let registro of dataRegistros; let i = index">
            <ds-table-body-row slot="row">
              <ds-table-body-column slot="column">
                <span class="texto-normal" slot="element">{{
                  registro.nombre
                  }}</span>
                <span class="texto-especial" slot="element">{{
                  registro.parentesco
                  }}</span>
              </ds-table-body-column>
              <ds-table-body-column slot="column">
                <span class="texto-normal" slot="element">{{
                  registro.numSolicitud
                  }}</span>
              </ds-table-body-column>
              <ds-table-body-column slot="column">
                <span class="texto-normal" slot="element">{{
                  registro.montoSolicitado
                  }}</span>
              </ds-table-body-column>
              <ds-table-body-column slot="column">
                <span class="texto-normal" slot="element">{{
                  registro.fechaPago | date: "shortDate"
                  }}</span>
              </ds-table-body-column>
              <ds-table-body-column slot="column">
                <app-pill [texto]="registro.estado"></app-pill>
              </ds-table-body-column>
              <ds-table-body-column slot="column">
                <app-col-doc-liq></app-col-doc-liq>
              </ds-table-body-column>
            </ds-table-body-row>
          <!--En las ds-table-body-row vacias que se generan abajo se cambiara la condicionm del ngif por un true o false
          si el usuario presiono la flechita ds-open para desplegar el detalle del reembolso en particular-->

            <ds-table-body-row *ngIf="false">
              <!--aqui dibujare el detalle con la data interpolada-->

              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima amet odio quidem repellendus veritatis vel placeat nulla officia, sequi sit laboriosam, labore natus ut quisquam laudantium perspiciatis dicta voluptate numquam.</p>
            </ds-table-body-row>
          </ng-container>
          <!--End Row-->
        </ds-table-body>
      </ds-table>
    </div>
    <div class="flex items-start justify-between w-full h-20">
      <div class="pagination-wrapper">
        <div class="css-1r2g4su">
          <ds-icon class="css-1h5x3dy" size="16" icon-name="bi-chevron-left"></ds-icon>
          <ds-pagination [initialPage]="pageSelected" [totalPages]="totalPaginas" (onchange)="eventSelectPage($event)">
          </ds-pagination>
          <ds-icon class="css-1h5x3dy" size="16" icon-name="bi-chevron-right"></ds-icon>

        </div>
      </div>
      <div class="">
        <ds-pagecounter (onchange)="eventPaginationSource($event)" [initialLabel]="'10'" [source]="sourcePagination">
        </ds-pagecounter>
      </div>

    </div>
  </ng-container>

</div>