* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.texto-normal {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--color-font-paragraph-secondary);
}

.texto-especial {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--color-font-paragraph-quaternary);
}

ds-table-header.tabla-header {
  background-color: var(--sec2) !important;
}

.css-1vyubn8.css-2z0lnu {
  padding: 10px 25px !important;
}

.bold1 {
  font-size: 18px !important;
  font-weight: bold !important;
}

.bold2 {
  font-weight: bold !important;
}

.text-2xl {
  color: var(--sec2);
  font-weight: bolder;
  font-size: 1.625rem;
  line-height: 1.625rem;
}

.first-section {
  border: 1px solid var(--ter4);
}

.h-20 {
  margin-top: 30px;
  height: 100px;
  margin-bottom: 30px;
}

.textos-card__historial,
.card-historial__texts {
  display: flex;
  flex-direction: column;
}

.textos-card__historial {
  gap: 5px;
}

.textos-card__historial p,
.card-historial__texts h3 {
  display: inline-block;
  margin: 0px;
}

.card-historial__texts {
  gap: 15px;
}

.h3-bold {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: var(--sec2);
}

.card-historial__container {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 30px;
  justify-content: space-between;
  
}

.historial-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}