<div class="historial-wrapper">
  <div class="p-5 border-2 border-solid first-section rounded-xl">
    <div class="card-historial__container">
      <!-- header contenido -->
      <div class="card-historial__texts">
        <!-- Titulo -->
        <h3 class="h3-bold">¿Quieres solicitar un reembolso?</h3>
        <!-- texto -->
        <div class="textos-card__historial">
          <p><span class="bold2">Tiempos de espera:</span></p>
          <p><span class="bold2">Gastos médicos ambulatorios, ópticos, dentales y medicamentos:</span> 5 días hábiles
            desde el ingreso de la solicitud </p>
          <p><span class="bold2">Gastos hospitalarios:</span> 10 días hábiles desde el ingreso de la solicitud</p>
        </div>
      </div>
      <div class="button-wrapper" [routerLink]="['/solicitud']">
        <ds-button variant="primary" slot-name="text2" size="s3">
          <span class="bold1" slot="text2">Solicitar</span>
        </ds-button>
      </div>
    </div>
  </div>
  <div class="title-historial">
    <p appColored class="py-4 text-2xl title-1">Historial de reembolsos</p>
  </div>

  <!-- TABLA NUEVA -->

  <ng-container *ngIf="showTable">
    <div class="table__container table-desktop">
      <div class="table--header table--row">
        <span slot="element" class="size-130px">Nombre beneficiario</span>
        <span slot="element" class="size-100px">N° Solicitud</span>
        <span slot="element" class="size-100px right-text">Monto solicitado</span>
        <span slot="element" class="size-100px right-text">Fecha de pago</span>
        <span slot="element" class="size-160px center-text">Estado</span>
        <span slot="element" class="size-160px">Documento de liquidación</span>
      </div>

      <ng-container *ngFor="let historico of reembolsosUsuario; let i = index">
        <div class="collapsabe-box">
          <div class="table-info__container table--row">
            <div class="size-130px nombre-titular">
              <span class="texto-normal" slot="element">{{
                historico.nombreBeneficiario | titlecase
                }}</span>
              <span class="texto-especial" slot="element">{{
                historico.relacionBeneficiario | titlecase
                }}</span>
            </div>
            <span class="texto-normal" slot="element" class="size-100px">{{
              historico.numeroSolicitud
              }}</span>

            <span class="texto-normal" slot="element" class="size-100px right-text">{{
              formateoValor(historico.montoSolicitado)
              }}</span>

            <span class="texto-normal" slot="element" class="size-100px right-text">{{
              historico.fechaPago | date:'dd/MM/yy' }}</span>

            <app-pill [texto]="historico.estado" class="size-160px"></app-pill>
            <app-col-doc-liq class="size-160px" (indiceEmitter)="toogleCollapsable($event)"
              [indice]="'registerColapsable'+i">
            </app-col-doc-liq>

          </div>
          <!-- desplegable-->
          <div [id]="'registerColapsable'+i" class="contenido-colapsable--borde oculto">

            <div class="div-colapsable" slot="row">
              <div class="header-colapsable">
                <span class="texto-normal texto-header-colapsable size-160px" slot="element">Tipo Reembolso</span>
                <span class="texto-normal texto-header-colapsable size-160px right-text" slot="element">Monto
                  Solicitado</span>
                <span class="texto-normal texto-header-colapsable size-160px right-text" slot="element">Monto
                  Reembolsado</span>
                <span class="texto-normal texto-header-colapsable size-160px" slot="element">Motivo del estado</span>
              </div>
              <div v class="details">
                <div class="line-divider"></div>
                <div [id]="'registerColapsable'+i" class="info-row" slot="row">

                  <span class="texto-normal size-160px" slot="element">
                    {{historico.tipoPrestacion}}
                  </span>
                  <span class="texto-normal size-160px right-text" slot="element">
                    {{formateoValor(historico.montoSolicitado)}}
                  </span>
                  <span class="texto-normal size-160px right-text" slot="element">
                    {{formateoValor(historico.montoReembolsado)}}
                  </span>
                  <span class="texto-normal size-160px" slot="element">
                    Observaciones
                  </span>
                </div>

              </div>
              <div class="doc-nota">
                <span class="icono-doc">
                  <img src="./../../../../assets/images/svgs/descargar.svg" alt="descargar">
                </span>
                <span>
                  <p>Descargar nota de denuncio</p>
                </span>
              </div>
            </div>
            <!--Fin desplegable-->
          </div>

        </div>
      </ng-container>
    </div>

    <!-- tabla mobile -->
    <div class="table-mobile table-mobile--container">
      <ng-container *ngFor="let registro of dataRegistros; let i = index">
        <div class="table-mobile--items">
          <input type="checkbox" [id]="'collapsible-trigger'+i">
          <div class="titulo">
            <label [for]="'collapsible-trigger'+i">
              <h5>Nombre prestacion</h5>
              <div class="toggle-container">
                <ds-icon id="chevron" icon-name="bi-chevron-down" size="12" class="css-7kp13n"></ds-icon>
              </div>
            </label>
          </div>
          <div class="collapsable-content">
            <div class="hidden content-group">
              <div class="content">
                <h6 class="subtitulo">{{registro.nombre}}</h6>
                <p class="info">{{registro.parentesco}}</p>
              </div>
              <div class="content">
                <h6 class="subtitulo">Estado</h6>
                <p class="info">{{registro.estado}}</p>
              </div>
              <div class="content">
                <h6 class="subtitulo">Motivo del estado</h6>
                <p class="info">Observaciones</p>
              </div>
              <div class="content">
                <h6 class="subtitulo">N° Solicitud</h6>
                <p class="info">{{registro.numSolicitud}}</p>
              </div>
              <div class="content">
                <h6 class="subtitulo">Fecha de pago</h6>
                <p class="info">{{registro.fechaPago | date: "shortDate"}}</p>
              </div>
              <div class="content">
                <h6 class="subtitulo">Monto solicitado</h6>
                <p class="info">{{registro.montoSolicitado}}</p>
              </div>
            </div>
            <div class="content">
              <h6 class="subtitulo">Monto reembolsado</h6>
              <p class="info">{{registro.montoReembolsado}}</p>
            </div>
            <div class="hidden download-files">
              <div class="content">
                <div _ngcontent-djb-c69="" class="doc-download">
                  <img _ngcontent-djb-c69="" src="./../../../../assets/images/svgs/descargar.svg" alt="descargar">
                  <span _ngcontent-djb-c69="">
                    <p _ngcontent-djb-c69="">Descargar documento de liquidación</p>
                  </span>
                </div>
              </div>
              <div class="content">
                <div _ngcontent-djb-c69="" class="doc-download">
                  <img _ngcontent-djb-c69="" src="./../../../../assets/images/svgs/descargar.svg" alt="descargar">
                  <span _ngcontent-djb-c69="">
                    <p _ngcontent-djb-c69="">Descargar nota de denuncio</p>
                  </span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </ng-container>
    </div>
    <!--Fin tabla mobile -->



    <!-- Paginacion -->
    <div class="pagination__container">
      <div class="pagination-wrapper">
        <div class="css-1r2g4su">
          <ds-icon class="css-1h5x3dy" size="16" icon-name="bi-chevron-left" (click)="paginaAnterior()"></ds-icon>
          <ds-pagination [initialPage]="pageSelected" [totalPages]="totalPaginas" (onchange)="eventSelectPage($event)">
          </ds-pagination>
          <ds-icon class="css-1h5x3dy" size="16" icon-name="bi-chevron-right" (click)="siguientePagina()"></ds-icon>
        </div>
      </div>
      <div class="">
        <ds-pagecounter (onchange)="eventPaginationSource($event)" [initialLabel]="'10'" [source]="sourcePagination">
        </ds-pagecounter>
      </div>

    </div>
  </ng-container>



</div>