*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#stepperOneContent {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    height: auto;
    width: 100%;

    .wrapper-select-parentesco{
        width: 320px;
    }
}

