<!-- QUIEN SE ATENDIO -->

<section class="steps__container">
  <app-custom-stepper [status]="stepperOneSource()[0].status">
  </app-custom-stepper>

  <div id="stepperOneContent" >
    <ds-title type="t4" family="secondary" weight="bold" color="primary">
      <span class="steps-title" slot="text">¿Quién se atendió?</span>
    </ds-title>
    
    <div class="wrapper-select-parentesco sm:col-span-6">
      <app-select-parentesco  (changeEv)="setStatusOn($event)"></app-select-parentesco>
    </div>
  </div>
</section>