ds-title {
    transform: translateY(-50%) !important;
}

#stepperOneContent {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    align-content: center;
    height: 15vh;

    ds-title {
        height: 12vh !important;
        font-size: 22px !important;
        font-weight: 600 !important;
    }

    div {
        width: 20vw;
    }
}