#contenedor {
    width: 4px;
    height: 4em;
    /* border: 1px solid rgb(210, 217, 223); */
    background-color: rgb(210, 217, 223);
    border-radius: 10px;
}

#barra {
    width: 100%;
    // height: 50%;
    /*  -webkit-animation: progreso 5s linear infinite;
    animation: progreso 5s linear infinite;*/
    border-radius: 10px;
}
#barra.completed {
    height: 100%;
}
#barra, #barra.active, #barra.waiting {
    height: 50%;
}

.completed {
    background: #628e37;
}
.waiting {
    background: #d2d9df;
}
.active {
    background: #ef6f00;
}

@-webkit-keyframes progreso {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes progreso {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

.stepper-margin {
    margin-right: 10px;
}
