<!-- HEADER -->
<div class="wrapper-final">

    <div class="grid h-24 grid-cols-12 border-b-2">
        <ds-title class="flex items-center justify-start col-span-12 px-5 text-xl font-bold md:col-span-6" type="t4"
            family="secondary" weight="bold" color="primary">
            <span slot="text"><span class="titulo-parte-izquierda">
                    <img src="./../../../assets/svg/final-header-icon.svg" alt="">
                </span> <span class="titulo-parte-derecha"> Recibimos
                    con éxito tu solicitud de reembolso </span></span>
        </ds-title>
    </div>
    <div class="ml-5">
        <section>
            <p class="divider">Consulta médica y compra de medicamentos a favor de Alejandro Salgado</p>

        </section>
        <div class="flex datos">
            <section class="izquierda">
                <ds-paragraph type="p1" family="secondary" weight="semiBold" color="secondary">
                    <span slot="text" class="text-base text-left  ">
                        N° Siniestro:</span>
                </ds-paragraph>
                <ds-paragraph type="p1" family="secondary" weight="semiBold" color="secondary">
                    <span slot="text" class="text-base text-left  ">
                        Fecha emisión:</span>
                </ds-paragraph>
    
                <ds-paragraph type="p1" family="secondary" weight="semiBold" color="secondary">
                    <span slot="text" class="text-base text-left  ">
                        Monto solicitado:</span>
                </ds-paragraph>
                <ds-paragraph type="p1" family="secondary" weight="semiBold" color="secondary">
                    <span slot="text" class="text-base subtitulo-key">
                        Tu reembolso se depositará en la siguiente cuenta bancaria:</span>
                </ds-paragraph>
    
                <ds-paragraph type="p1" family="secondary" weight="semiBold" color="secondary">
                    <span slot="text" class="text-base text-left  ">
                        Banco</span>
                </ds-paragraph>
                <ds-paragraph type="p1" family="secondary" weight="semiBold" color="secondary">
                    <span slot="text" class="text-base text-left  ">
                        Cuenta</span>
                </ds-paragraph>
                <ds-paragraph type="p1" family="secondary"  color="primary">
                    <span slot="text" class="text-base subtitulo-key">
                        &nbsp;
                    </span>
                </ds-paragraph>
                <ds-paragraph type="p1" family="secondary" color="secondary">
                    <span slot="text" class="text-base text-left  subtitulo-key">
                        Pronto recibirás en tu correo el resultado de tu solicitud. <br>
                        Ante cualquier consulta escríbenos a <a
                            href="mailto:contactovida@vidasecurity.cl">contactovida@vidasecurity.cl</a>
                    </span>
                </ds-paragraph>
            </section>
            <section class="derecha">
                <ds-paragraph type="p1" family="secondary"  color="primary">
                    <span slot="text" class="text-base">
                        0000-86544-87</span>
                </ds-paragraph>
                <ds-paragraph type="p1" family="secondary"  color="primary">
                    <span slot="text" class="text-base">
                        {{construirFechaActual()}}</span>
                </ds-paragraph>
    
                <ds-paragraph type="p1" family="secondary"  color="primary">
                    <span slot="text" class="text-base">
                        $40.000</span>
                </ds-paragraph>
                <ds-paragraph type="p1" family="secondary"  color="primary">
                    <span slot="text" class="text-base subtitulo-key">
                        &nbsp;
                    </span>
                </ds-paragraph>
    
                <ds-paragraph type="p1" family="secondary"  color="primary">
                    <span slot="text" class="text-base">
                        Banco de Crédito en Inversiones</span>
                </ds-paragraph>
                <ds-paragraph type="p1" family="secondary"  color="primary">
                    <span slot="text" class="text-base">
                        00000-0456-5678-0</span>
                </ds-paragraph>
            </section>
        </div>
    </div>
</div>