.pill-estado {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 5px;
    border: 1px solid #EF6F00;
    border-radius: 15px;
    width: 150px;
}

.enEvaluacion {}

.pagado {}

.pagado-parcial {}

.sin-pago {}