.resultSearch {
    margin-top: 5px;
    position: absolute;
    z-index: 200;
    max-height: 190px;
    width: 100%;
    display: flex;
    overflow-y: scroll !important;
    flex-flow: column nowrap;
    background-color: #fff;
    border: 1px solid #D2D9DF;

    border-radius: 8px;
    box-shadow: rgb(67 80 94 / 20%) 0px 8px 8px 0px;
   
}
.itemDisplay {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 8px 16px;
    color: rgb(67, 80, 94);
    font-size: 14px;
    -webkit-box-align: center;
    align-items: center;
}

.itemDisplay:hover{
    background-color: #F1F3F5;
    cursor: pointer;
}
