<section class="flex items-center justify-start my-10">
  <app-custom-stepper [height]="customStepperSize.stepperTwo" [status]="stepperTwoSource()[0].status">
  </app-custom-stepper>
  <div id="stepperTwoContent" class="grid w-full grid-cols-12 gap-2 pr-5">
    <ds-title class="col-span-12 mb-4" type="t4" family="secondary" weight="bold" color="primary">
      <span class="steps-title two" slot="text">Selecciona tu prestación</span>
    </ds-title>
    <ng-container *ngIf="getStepsStatus('stepOne_who', 'personaSeleccionada')">
      <ng-container *ngFor="let card of cards;let i = index">
        <app-card-option [ngClass]="[coldefined]" [status]="card.status" [name]="card.name" [prestacionName]="card.prestacion"
          (click)="setCard(card)">
        </app-card-option>
      </ng-container>
      <!-- Reembolsaste -->
      <ds-paragraph class="col-span-12 mb-5 md:col-span-5" type="p1" family="secondary" weight="semiBold"
        color="secondary">
        <span slot="text" class="font-bold">¿Reembolsaste previamente en tu Isapre?</span>
      </ds-paragraph>
      <div class="flex items-center justify-start col-span-12 md:col-span-6 md:-ml-20">
        <ds-radio class="mx-5" type="s1" family="primary" label="Si" name="reembolsoIsapre" value="si" (click)="
            setStepsStatus({
              step: 'stepTwo_selectOption',
              option: 'reembolsoPrevioIsapre',
              value: 'si'
            })
          ">
        </ds-radio>
        <ds-radio class="mx-5" type="s1" family="primary" label="No" name="reembolsoIsapre" value="no" (click)="
            setStepsStatus({
              step: 'stepTwo_selectOption',
              option: 'reembolsoPrevioIsapre',
              value: 'no'
            })
          ">
        </ds-radio>
      </div>
      <div class="col-span-12" *ngIf="
          getStepsStatus('stepTwo_selectOption', 'reembolsoPrevioIsapre') == 'no'
        ">
        <ds-messaging variant="warning" family="secondary" size="s2"
          title="Te recomendamos que realices primero tu reembolso en tu Isapre o Fonasa, ya que si no lo haces, el monto de reembolso puede ser menor">
        </ds-messaging>
      </div>
    </ng-container>
  </div>
</section>