.md\:col-span-6 {
    grid-column: span 6 / span 6;
}

@media(min-width:1080px) {
    .md\:col-span-7 {
        grid-column: span 7 / span 7;
    }

    .md\:col-span-3 {
        grid-column: span 3 / span 3;
    }
}


.m-top {
    margin-top: 10px;
}

.texto {
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 18px !important;
    color: var(--color-font-paragraph-tertiary) !important;
    margin-left: 7px !important;
}

.contenedor-radiobuttons {
    margin-left: 13px !important;
}
