.archivo-personalizado-cargado {
    border: solid 2px #d2d9df;
    border-style: dashed;
    border-radius: 10px;
    font-family: "Titilium";

    .text-header {
        font-size: 18px;
    }

    .text-description {
        color: #d2d9df;
        font-size: 14px;
    }
}

.lista-archivos-cargados-custom {
    border: solid #d2d9df 2px;
    border-radius: 10px;
}

.titulo-archivo-cargado {
    font-weight: 900;
    font-size: 16px;
    color: #989999;
}

.monto-reembolsado-activo {
    background-color: var(--sec2);
    border-radius: 10px;
    height: 55px;
}

ds-icon {
    margin-right: 1rem;
    margin-left: 1rem;
}

span.step-title {
    font-weight: 600!important;
    font-size: 22px!important;
}

#stepperThreeContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    min-height: 22vh;

    ds-title {
        height: 8vh;
        margin: 0;
    }

}

/* @media(min-width:1080px) {
    .md\:col-span-7 {
        grid-column: span 7 / span 7;
    }

    .md\:col-span-3 {
        grid-column: span 3 / span 3;
    }
} */