<section class="my-10 flex items-center justify-start">
  <app-custom-stepper [height]="customStepperSize.stepperThree" [status]="this.stepperThreeSource()[0].status">
  </app-custom-stepper>
  <div id="stepperThreeContent" class="grid grid-cols-12 w-full gap-4 pr-5">
    <!-- Title -->
    <ds-title class="col-span-12" type="t4" family="secondary" weight="bold" color="primary">
      <span slot="text">Completa los siguientes datos</span>
    </ds-title>
    <ng-container
      *ngIf="getStepsStatus('stepTwo_selectOption', 'prestacionSeleccionada') && getStepsStatus('stepTwo_selectOption', 'reembolsoPrevioIsapre')">

      <!-- First Row Data -->
      <div class="md:col-span-6 sm:col-span-6 col-span-12 flex items-center justify-center">
        <ds-select class="w-full inputsThirdField" id="isapreFonasaSelect" [initialLabel]="'Isapre/Fonasa'"
          [state]="'waiting'" [source]="isapreFonasaOptions" [helperMessage]="''">
        </ds-select>
        <ds-icon *ngIf="getStepsStatus('stepThree_general', 'agenciaSeleccionada')" color="info5" size="25"
          icon-name="bi-check-circle-fill"></ds-icon>
      </div>
      <div class="md:col-span-6 sm:col-span-6 col-span-12 flex items-center justify-center">
        <ds-input class="w-full inputsThirdField" id="rutInstitucion" [helperMessage]="''"
          [initialLabel]="'Rut institucion/prestador'" size="s2" labelOrientation="start">
        </ds-input>
        <ds-icon *ngIf="getStepsStatus('stepThree_general', 'rutInstitucion')" color="info5" size="25"
          icon-name="bi-check-circle-fill"></ds-icon>
      </div>
      <div class="md:col-span-6 sm:col-span-6 col-span-12 flex items-center justify-center">
        <ds-input class="w-full inputsThirdField" id="boletaFactura" [helperMessage]="''"
          [initialLabel]="'Nº Boleta/Factura'" size="s2" labelOrientation="start">
        </ds-input>
        <ds-icon *ngIf="getStepsStatus('stepThree_general', 'boletaFactura')" color="info5" size="25"
          icon-name="bi-check-circle-fill"></ds-icon>
      </div>
      <div class="md:col-span-6 sm:col-span-6 col-span-12 flex items-center justify-center">
        <ds-datepicker class="w-full inputsThirdField" [type]="'single'" [size]="'s2'" [helperMessage]="''"
          [initialLabel]="'Fecha de atención'">
        </ds-datepicker>
        <ds-icon *ngIf="getStepsStatus('stepThree_general', 'fechaAtencion')" size="25" icon-name="bi-check-circle-fill"
          color="info5"></ds-icon>
      </div>

      <!-- Second Row data -->
     <!--  <ng-container *ngIf="
          getStepsStatus('stepThree_general', 'agenciaSeleccionada') &&
          getStepsStatus('stepThree_general', 'rutInstitucion') &&
          getStepsStatus('stepThree_general', 'boletaFactura')
        ">
        <div class="md:col-span-4 sm:col-span-6 col-span-12 flex items-center justify-center">
          <ds-input class="w-full inputsThirdField" id="valorPrestacion" [helperMessage]="''"
            [initialLabel]="'Valor total de la prestación'" size="s2" labelOrientation="start">
          </ds-input>
          <ds-icon *ngIf="getStepsStatus('stepThree_general', 'valorPrestacion')" size="25"
            icon-name="bi-check-circle-fill" color="info5"></ds-icon>
        </div>
        <div class="md:col-span-4 sm:col-span-6 col-span-12 flex items-center justify-center">
          <ds-input class="w-full inputsThirdField" id="bonificacionTotal" [helperMessage]="''"
            [initialLabel]="'Bonificación isapre total'" size="s2" labelOrientation="start">
          </ds-input>
          <ds-icon *ngIf="getStepsStatus('stepThree_general', 'bonificacionTotal')" size="25"
            icon-name="bi-check-circle-fill" color="info5"></ds-icon>
        </div>
      </ng-container> -->
      <!-- Reembolsaste -->
      <ds-paragraph class="md:col-span-5 col-span-12 mb-5" type="p1" family="secondary" weight="semiBold"
        color="secondary">
        <span slot="text" class="font-bold">El monto total de tu copago fue mayor a 15UF?</span>
      </ds-paragraph>
      <div class="md:col-span-6 col-span-12 flex items-center justify-start md:-ml-20">
        <ds-radio class="mx-5" type="s1" family="primary" label="Si" name="copagoMayor" value="si" (click)="
            setStepsStatus({
              step: 'stepThree_general',
              option: 'copagoMayor',
              value: 'si'
            })
          ">
        </ds-radio>
        <ds-radio class="mx-5" type="s1" family="primary" label="No" name="copagoMayor" value="no" (click)="
            setStepsStatus({
              step: 'stepThree_general',
              option: 'copagoMayor',
              value: 'no'
            })
          ">
        </ds-radio>
      </div>
      <!--  <div class="col-span-12" *ngIf="
          getStepsStatus('stepTwo_selectOption', 'reembolsoPrevioIsapre') == 'no'
        ">
        <ds-messaging variant="warning" family="secondary" size="s2"
          title="Te recomendamos que realices primero tu reembolso en tu Isapre o Fonasa, ya que si no lo haces, el monto de reembolso puede ser menor">
        </ds-messaging>
      </div> -->

      <!-- Mount Refund -->

      <!-- <div class="col-span-12 mount-remound-active my-10 p-5 flex items-center justify-between">
        <ds-title type="t6" family="secondary" weight="semiBold" slot-name="text" color="tertiary">
          <span slot="text">Monto a reembolsar</span>
        </ds-title>
        <ds-title type="t6" family="secondary" weight="semiBold" slot-name="text" color="tertiary">
          <span slot="text">$ {{ montoReelbolso | number: "1.0-2" }}</span>
        </ds-title>
      </div> -->
    </ng-container>
  </div>
</section>