<section class="steps__container">
  <app-custom-stepper [height]="customStepperSize.stepperThree" [status]="this.stepperThreeSource()[0].status">
  </app-custom-stepper>
  <div id="stepperThreeContent" class="w-full">
    <!-- Title -->
    <ds-title class="col-span-12" type="t4" family="secondary" weight="bold" color="primary">
      <span class="steps-title three" slot="text"
        [ngClass]="{'waitStepperText':this.stepperThreeSource()[0].status == 'waiting'}">Completa los siguientes
        datos</span>
    </ds-title>
    <div class="grid grid-cols-12 gap-4">
      <ng-container
        *ngIf="getStepsStatus('stepTwo_selectOption', 'prestacionSeleccionada') && getStepsStatus('stepTwo_selectOption', 'reembolsoPrevioIsapre')">

        <!-- First Row Data -->

        <!--step datos para hospitalario-->
        <ng-container *ngIf="idPestacionSeleccionada == 2">
          <!-- Monto Hospitalario -->
          <ds-input-v2 class="col-span-12" label="Monto solicitado" helpText="" type="text" [formatoMoneda]="true" helpText=""
            (changeEv)="setStepsStatus({step: 'stepThree_general',option: 'montoSolicitado', value: $event })">
          </ds-input-v2>
          <!-- <div class="flex items-center justify-center col-span-12">
            <ds-input class="w-full inputsThirdField" id="montoTotalrHospitalario" [helperMessage]="''"
              [initialLabel]="'Monto solicitado'" size="s2" labelOrientation="start" (keyup)="setStepsStatus({
                step: 'stepThree_general',
                option: 'montoSolicitado',
                value: true
              })">
            </ds-input>
            <ds-icon *ngIf="getStepsStatus('stepThree_general', 'boletaFactura')" color="info5" size="25"
              icon-name="bi-check-circle-fill"></ds-icon>
          </div> -->
        </ng-container>
        <!--Datos para cualquier flujo diferente a hospitalario-->
        <ng-container *ngIf="idPestacionSeleccionada   != 2 ">
          <!-- Isapre/Fonasa -->
          <ds-select-v2 class="col-span-12 md:col-span-6 sm:col-span-6" label="Isapre/Fonasa"
            [source]="isapreFonasaOptions"
            (changeEv)="setStepsStatus({step:'stepThree_general',option:'agenciaSeleccionada',value:true})"
            helpText="">
          </ds-select-v2>
          <!-- RUT -->
          <ds-input-v2 [formatoRut]="true"  class="col-span-12 md:col-span-6 sm:col-span-6" label="Rut institucion/prestador" [tipo]="'isapre-fonasa'"
            helpText="ingresa cualquier tipo" type="text" helpText=""
            (changeEv)="setStepsStatus({step: 'stepThree_general',option: 'rutInstitucion', value: $event })">
          </ds-input-v2>
          <!-- Numero Boleta -->
          <ds-input-v2 class="col-span-12 md:col-span-6 sm:col-span-6" label="Nº Boleta/Factura"
            helpText="ingresa cualquier tipo" type="text" helpText=""
            (changeEv)="setStepsStatus({step: 'stepThree_general',option: 'boletaFactura', value: $event })">
          </ds-input-v2>
          <!-- Fecha Atencion -->
          <div class="flex items-center justify-center col-span-12 gap-datepicker md:col-span-6 sm:col-span-6">
            <ds-datepicker class="w-full inputsThirdField" id="fecha_on_generales" [type]="'single'" [size]="'s2'"
              [helperMessage]="''" [initialLabel]="'Fecha de atención'">
            </ds-datepicker>
            <ds-icon *ngIf="validDate" size="25" icon-name="bi-check-circle-fill" color="info5"></ds-icon>
          </div>
        </ng-container>

        <!-- Second Row data -->

        <!-- Reembolsaste -->
        <div class="question__container">
          <ds-paragraph class="question-style" type="p1" family="secondary" weight="semiBold" color="secondary">
            <span slot="text" class="font-bold">{{textPreguntas}}</span>
          </ds-paragraph>

          <div class="question-options" *ngIf="mostrarRadioButtons && idPestacionSeleccionada !=2">
            <ds-radio type="s1" family="primary" label="Si" name="copagoMayor" value="si" (click)="
              setStepsStatus({
                step: 'stepThree_general',
                option: 'copagoMayor',
                value: 'si'
              })
            ">
            </ds-radio>
            <ds-radio type="s1" family="primary" label="No" name="copagoMayor" value="no" (click)="
              setStepsStatus({
                step: 'stepThree_general',
                option: 'copagoMayor',
                value: 'no'
              })
            ">
            </ds-radio>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>