<div class="table__container table-desktop">
    <div slot="header" class="table--header">
        <span slot="element" class="text-left size-250px">Nombre Prestacion</span>
        <span slot="element" class="text-right size-130px">N° de sesiones</span>
        <span slot="element" class="text-right size-130px">Valor prestación</span>
        <span slot="element" class="text-right size-130px">Bonificación isapre</span> 
        <span slot="element" class="text-right size-130px">Monto solicitado</span>
        <span class="size-130px"></span>
    </div>

    <div class="table-content">
        <ng-container *ngFor="let prestacion of prestaciones">
            <div class="table--row">
                    <span slot="element" class="text-left size-250px">{{prestacion.prestacionSeleccionada}}</span>
                    <span slot="element" class="text-right size-130px">{{prestacion.sesiones}}</span>
                    <span slot="element" class="text-right size-130px">{{ formateoValor(prestacion.valorPrestacion) }}</span>
                    <span slot="element" class="text-right size-130px">{{ formateoValor(prestacion.bonificacion) }}</span>
                    <span slot="element" class="text-right size-130px">{{ formateoValor(prestacion.valorPrestacion - prestacion.bonificacion) }}</span>
                    <span slot="element" class="size-130px text-right">
                        <div (click)="delete(prestacion)" class="size-50px">
                            <ds-icon size="23" icon-name="bi-trash" color="info6"></ds-icon>
                        </div>
                    </span>
            </div>
        </ng-container>
    </div>

    <div class="table--totalizers">
        <div class="subtotal">
          <h6>Valor total prestaciones</h6>
          <h6>{{ formateoValor(totalPrestaciones) }}</h6>
        </div>
        <div class="subtotal">
          <h6>Bonificación total Isapre/ Fonasa </h6>
          <h6>{{ formateoValor(totalPrestaciones - montoReembolsar) }}</h6>
        </div>
        <div class="total">
          <h6>Monto total solicitado</h6>
          <h6>{{ formateoValor(montoReembolsar) }}</h6>
        </div>
    </div>
</div>

<!-- tabla mobile -->
<div class="table-mobile table-mobile--container">
    <ng-container *ngFor="let prestacion of prestaciones; let i = index">
     <div class="table-mobile--items">
        <input type="checkbox" [id]="'collapsible-trigger'+i">
        <div class="titulo">
          <label [for]="'collapsible-trigger'+i">
            <h5>{{prestacion.prestacionSeleccionada}}</h5>
            <div class="toggle-container">
              <ds-icon id="chevron" icon-name="bi-chevron-down" size="12" class="css-7kp13n"></ds-icon>
            </div>
          </label>                 
        </div>
        <div class="collapsable-content">
            <div class="content-group hidden">
                <div class="content">
                    <h6 class="subtitulo">N° de sesiones</h6>
                    <p class="info">{{prestacion.sesiones}}</p>
                </div>
                <div class="content">
                <h6 class="subtitulo">Valor prestación</h6>
                <p class="info">{{ formateoValor(prestacion.valorPrestacion) }}</p>
                </div>
                <div class="content">
                <h6 class="subtitulo">Bonificación Isapre/Fonasa</h6>
                <p class="info">{{ formateoValor(prestacion.bonificacion) }}</p>
                </div>
            </div>
            <div class="content">
                <h6 class="subtitulo">Monto solicitado</h6>
                <p class="info">{{formateoValor(prestacion.valorPrestacion - prestacion.bonificacion)}}</p>
            </div>
        </div>

      </div>
    </ng-container>
    <div class="table-mobile--totalizers">
      <div class="subtotal">
        <h6>Total prestaciones</h6>
        <h6>{{ formateoValor(totalPrestaciones) }}</h6>
      </div>
      <div class="subtotal">
        <h6>Total bonificacion</h6>
        <h6>{{ formateoValor(totalPrestaciones - montoReembolsar) }}</h6>
      </div>
      <div class="total">
        <h6>Monto solicitado</h6>
        <h6>{{ formateoValor(montoReembolsar) }}</h6>
      </div>
    </div>
  </div>    <!--Fin tabla mobile -->