<ds-table>
    <ds-table-header slot="header">
        <ds-table-header-column slot="column"><span slot="element">Nombre Prestacion</span></ds-table-header-column>
        <ds-table-header-column slot="column"><span slot="element">Nº de Sesiones</span></ds-table-header-column>
        <ds-table-header-column slot="column"><span slot="element">Valor Prestación</span></ds-table-header-column>
        <ds-table-header-column slot="column"><span slot="element">Bonificacion Isapre</span> </ds-table-header-column>
        <ds-table-header-column slot="column"><span slot="element">Monto a Reembolsar</span> </ds-table-header-column>
        <ds-table-header-column slot="column" type="actions"></ds-table-header-column>
    </ds-table-header>
    <ds-table-body slot="body">
        <ng-container *ngFor="let prestacion of prestaciones">
            <ds-table-body-row slot="row">
                <ds-table-body-column slot="column">
                    <span slot="element">{{prestacion.prestacionSeleccionada}}</span>
                </ds-table-body-column>
                <ds-table-body-column slot="column">
                    <span slot="element">{{prestacion.sesiones}}</span>
                </ds-table-body-column>
                <ds-table-body-column slot="column">
                    <span slot="element">$ {{prestacion.valorPrestacion | number :'0.0-2'}}</span>
                </ds-table-body-column>
                <ds-table-body-column slot="column">
                    <span slot="element">$ {{prestacion.bonificacion | number :'0.0-2'}}</span>
                </ds-table-body-column>
                <ds-table-body-column slot="column">
                    <span slot="element">$ {{(prestacion.valorPrestacion - prestacion.bonificacion) | number
                        :'0.0-2'}}</span>
                </ds-table-body-column>
                <ds-table-body-column-actions slot="column">
                    <span slot="element" class="flex items-center justify-start">
                        <div (click)="delete(prestacion)">
                            <ds-icon size="23" icon-name="bi-trash" color="info6"></ds-icon>
                        </div>
                    </span>
                </ds-table-body-column-actions>
            </ds-table-body-row>
        </ng-container>

        <!-- rows of totals -->
        <!-- Row Valor total prestaciones -->
        <ds-table-body-row class="row_defined" slot="row">
            <ds-table-body-column slot="column">
                <span slot="element">Valor total prestaciones</span>
            </ds-table-body-column>
            <ds-table-body-column slot="column">
                <span slot="element"></span>
            </ds-table-body-column>
            <ds-table-body-column slot="column">
                <span slot="element"></span>
            </ds-table-body-column>
            <ds-table-body-column slot="column">
                <span slot="element"></span>
            </ds-table-body-column>
            <ds-table-body-column slot="column">
                <span slot="element"></span>
            </ds-table-body-column>
            <ds-table-body-column-actions slot="column">
                <span slot="element">$ {{totalPrestaciones | number : '0.0-2'}}</span>

            </ds-table-body-column-actions>
        </ds-table-body-row>
        <!-- Row Bonificación total Isapre/ Fonasa  -->
        <ds-table-body-row class="row_defined" slot="row">
            <ds-table-body-column slot="column">
                <span slot="element">Bonificación total Isapre/ Fonasa</span>
            </ds-table-body-column>
            <ds-table-body-column slot="column">
                <span slot="element"></span>
            </ds-table-body-column>
            <ds-table-body-column slot="column">
                <span slot="element"></span>
            </ds-table-body-column>
            <ds-table-body-column slot="column">
                <span slot="element"></span>
            </ds-table-body-column>
            <ds-table-body-column slot="column">
                <span slot="element"></span>
            </ds-table-body-column>
            <ds-table-body-column-actions slot="column">
                <span slot="element">$ {{totalPrestaciones - montoReembolsar | number : '0.0-2'}}</span>

            </ds-table-body-column-actions>
        </ds-table-body-row>

                <!-- Row total asignado -->
                <ds-table-body-row class="row_total" slot="row">
                    <ds-table-body-column slot="column">
                        <span slot="element">Monto a reembolsar</span>
                    </ds-table-body-column>
                    <ds-table-body-column slot="column">
                        <span slot="element"></span>
                    </ds-table-body-column>
                    <ds-table-body-column slot="column">
                        <span slot="element"></span>
                    </ds-table-body-column>
                    <ds-table-body-column slot="column">
                        <span slot="element"></span>
                    </ds-table-body-column>
                    <ds-table-body-column slot="column">
                        <span slot="element"></span>
                    </ds-table-body-column>
                    <ds-table-body-column-actions slot="column">
                        <span slot="element">$ {{montoReembolsar | number : '0.0-2' }}</span>
                    </ds-table-body-column-actions>
                </ds-table-body-row>
    </ds-table-body>
</ds-table>
<!-- <div class="my-10" *ngIf="true"> 
    <ds-messaging  variant="warning" family="secondary" size="s2"
        title="Los montos que has ingresado no coinciden con el total">
    </ds-messaging>
</div> -->