<div *ngIf="idprestacionSeleccionada == 1">
  <app-atencion-hospitalaria (close)="closeModal()" (dataEvent)=receivedModalData($event)></app-atencion-hospitalaria>
</div>
<div *ngIf="idprestacionSeleccionada == 2">
  <app-consulta-medica (close)="closeModal()" (dataEvent)=receivedModalData($event)></app-consulta-medica>
</div>
<div *ngIf="idprestacionSeleccionada == 3">
  <app-atencion-dental (close)="closeModal()" (dataEvent)=receivedModalData($event)></app-atencion-dental>
</div>
<div *ngIf="idprestacionSeleccionada == 4">
  <app-examenes-y-procedimientos (close)="closeModal()" (dataEvent)=receivedModalData($event)>
  </app-examenes-y-procedimientos>
</div>
<div *ngIf="idprestacionSeleccionada == 5">
  <app-compra-medicamentos (close)="closeModal()" (dataEvent)=receivedModalData($event)></app-compra-medicamentos>
</div>
<div *ngIf="idprestacionSeleccionada == 6">
  <app-marcos-y-lentes (close)="closeModal()" (dataEvent)=receivedModalData($event)></app-marcos-y-lentes>
</div>