<div
  class="flex items-center justify-center modal-container"
  *ngIf="isModalActive"
>
  <div class="modal-wrapper">
    <div class="px-5 rounded-lg detalle-prestaciones-modal">
      <div class="titulo-modal-detalle">
        <ds-paragraph family="primary" weight="semiBold">
          <span slot="text" class="w-full px-4 py-3 text-left monto-reembolso"
            >Ingresa el detalle de la prestación</span
          >
        </ds-paragraph>
      </div>
      <div class="grid flex-wrap grid-cols-12 form-wrapper">
        <!--input nombre prestacion-->
        <div
          class="flex items-center justify-center col-span-12 sm:col-span-6 inpMod"
        >
          <ds-input
            (focusout)="onFocusOutInputNombrePrestacion($event)"
            class="w-full inputsThirdField inpMod"
            id="nombrePrestacion"
            [helperMessage]="''"
            [initialLabel]="'Tipo de Prestación'"
            size="s2"
            labelOrientation="start"
          >
          </ds-input>
          <ds-icon
            color="info5"
            size="25"
            icon-name="bi-check-circle-fill"
          ></ds-icon>
        </div>
        <!--input número de sesiones-->
        <div
          class="flex items-center justify-center col-span-12 sm:col-span-6 inpMod"
        >
          <ds-input
            (focusout)="onFocusOutInputNumeroSesiones($event)"
            class="w-full inputsThirdField inpMod"
            id="numeroSesiones"
            [helperMessage]="''"
            [initialLabel]="'Número de Prestaciones'"
            size="s2"
            labelOrientation="start"
          >
          </ds-input>
          <ds-icon
            color="info5"
            size="25"
            icon-name="bi-check-circle-fill"
          ></ds-icon>
        </div>
        <!--valor-->
        <div
          class="flex items-center justify-center col-span-12 sm:col-span-6 inpMod"
        >
          <ds-input
            (focusout)="onFocusOutInputValor($event)"
            class="w-full inputsThirdField inpMod"
            id="inputValor"
            [helperMessage]="''"
            [initialLabel]="'Valor'"
            size="s2"
            labelOrientation="start"
          >
          </ds-input>
          <ds-icon
            color="info5"
            size="25"
            icon-name="bi-check-circle-fill"
          ></ds-icon>
        </div>
        <!--bonificacion isapre/fonasa-->
        <div
          class="flex items-center justify-center col-span-12 sm:col-span-6 inpMod"
        >
          <ds-input
            (focusout)="onFocusOutInputBonificacion($event)"
            class="w-full inputsThirdField inpMod"
            id="inputBonificacion"
            [helperMessage]="''"
            [initialLabel]="'Bonificación Isapre/Fonasa'"
            size="s2"
            labelOrientation="start"
          >
          </ds-input>
          <ds-icon
            color="info5"
            size="25"
            icon-name="bi-check-circle-fill"
          ></ds-icon>
        </div>
      </div>
      <!--closing form-wrapper div-->

      <!--Mensaje de error-->
      <!-- <div class="warning-nueva-prestacion">
    <div class="texto-warning">
      <ds-paragraph
        class="w-full"
        family="secondary"
        weight="normal"
        color="secondary"
      >
        <span slot="text" class=""
          ><p>.</p>

          <p>
            Recuerda que el monto a ingresar debe corresponder al valor de
            <strong>{{ numeroSesiones }}</strong
            >, si ingresas más de una sesión, debes indicar esa cantidad en el
            campo “número de sesiones”.
          </p></span
        >
      </ds-paragraph>
    </div>
    <ds-messaging
      variant="warning"
      family="secondary"
      size="s2"
      title="El monto que ingresaste es diferente a los registrados para esta prestación: 300000,  si ingresas más de una sesión, debes indicar esa cantidad en el campo “número de sesiones”"
    >
    </ds-messaging>
  </div> -->
      <ds-messaging
        variant="warning"
        family="secondary"
        size="s2"
        title="El monto que ingresaste es diferente a los registrados para esta prestación ([monto histórico]).'

        Recuerda que el monto a ingresar debe corresponder al valor de ([sesiones]), si ingresas más de una sesión, debes indicar esa cantidad en el campo “número de sesiones"
      >
      </ds-messaging>

      <!--Fin mensaje de error-->

      <!--Monto a rembolsar-->
      <div class="monto-reembolso">
        <div class="w-full px-4 mb-8 bg-indigo-900 rounded-lg indigo-wrapper">
          <ds-paragraph
            type="p1"
            family="secondary"
            weight="semiBold"
            color="secondary"
          >
            <span
              slot="text"
              class="py-3 text-base text-left text-white bg-indigo-900"
              >Monto a reembolsar</span
            >
          </ds-paragraph>
          <ds-paragraph
            type="p1"
            family="secondary"
            weight="semiBold"
            color="secondary"
          >
            <span
              slot="text"
              class="w-12 py-3 text-base text-left text-white bg-indigo-900"
              >$ {{ modalData[2] - modalData[3] }}</span
            >
          </ds-paragraph>
        </div>
      </div>
      <!-- botones-->
      <section class="grid grid-cols-1 seccion-botones">
        <div class="flex items-center justify-end w-full gap-3">
          <ds-button (click)="closeModal()"
            id="ds-button-cancelar"
            [size]="'s2'"
            variant="secondary"
            slot-name="cancel-button-slot"
          >
            <span slot="cancel-button-slot">Cancelar</span>
          </ds-button>
          <ds-button
            (click)="enviarDetalleModalData()"
            id="ds-button-siguiente"
            [size]="'s2'"
            variant="primary"
            slot-name="next-button-slot"
          >
            <span slot="next-button-slot"> Siguiente </span>
          </ds-button>
        </div>
      </section>
    </div>
  </div>
</div>
