<section class="steps__container">
  <app-custom-stepper [height]="customStepperSize.stepperFour" [status]="stepperFourSource()[0].status">
  </app-custom-stepper>
  <div id="stepperFourContent" class="steps-content__container">
    <!-- Title -->
    <ds-title class="col-span-12" type="t4" family="secondary" weight="bold" color="primary">
      <span class="steps-title four" slot="text"
        [ngClass]="{'waitStepperText':this.stepperFourSource()[0].status == 'waiting'}">Sube tus documentos</span>
    </ds-title>
    <!-- Fin Title -->
    <div>
      <ng-container *ngIf="(getStepsStatus('stepThree_general', 'agenciaSeleccionada') !='' && getStepsStatus('stepThree_general', 'rutInstitucion') !='' && getStepsStatus('stepThree_general', 'boletaFactura') !='' && getStepsStatus('stepThree_general', 'fechaAtencion') !='' && getStepsStatus('stepThree_general', 'copagoMayor') !='')
      || getStepsStatus('stepThree_general', 'montoSolicitado') != '$ 0'">
        <!--pregunta tipo documento -->
        <div *ngIf="idPrestacionSeleccionada != 2" class="upload-documents__container">
          <ds-paragraph type="p1" family="primary" weight="regular" color="secondary">
            <ds-tooltip family="primary" content="Documentos disponibles">
              <ds-icon slot="tooltip" size="28" icon-name="bi-question-circle-fill">
              </ds-icon>
            </ds-tooltip>
            <span slot="text" class="font-bold">Selecciona uno de los siguientes documentos</span>
          </ds-paragraph>
          <!--Radio Buttons "Selecciona uno de los siguientes documentos"-->
          <div class="documents__options">
            <ds-radio *ngIf="
              getStepsStatus('stepTwo_selectOption', 'reembolsoPrevioIsapre') == 'si'
            " (click)="setStepsStatus({step: 'stepFour_general', option: 'tipoDocumentoSeleccionado', value: 1})"
              [attr.checked]="getStepsStatus('stepFour_general', 'tipoDocumentoSeleccionado') == 1"
              class="mx-5 md:w-max" type="s1" family="primary" label="Documento reembolso isapre o fonasa"
              name="documentType" value="1">
            </ds-radio>
            <ds-radio *ngIf="
              getStepsStatus('stepTwo_selectOption', 'reembolsoPrevioIsapre') == 'si'
            " (click)="setStepsStatus({step: 'stepFour_general',option: 'tipoDocumentoSeleccionado', value: 2})"
              [attr.checked]="getStepsStatus('stepFour_general', 'tipoDocumentoSeleccionado') == 2" class="md:w-max"
              type="s1" family="primary" label="Bono" name="documentType" value="2">
            </ds-radio>
            <ds-radio
              (click)="setStepsStatus({step: 'stepFour_general', option: 'tipoDocumentoSeleccionado', value: 3})"
              [attr.checked]="getStepsStatus('stepFour_general', 'tipoDocumentoSeleccionado') == 3" class=" md:w-max"
              type="s1" family="primary" label="Boleta / Factura" name="documentType" value="3">
            </ds-radio>
          </div>
        </div>
        <!-- Finpregunta tipo documento -->
      </ng-container>
    </div>
    <!-- Esperando seleccionar tipo documento -->
    <ng-container
      *ngIf="getStepsStatus('stepFour_general','tipoDocumentoSeleccionado') || idPrestacionSeleccionada == 2">
      <!-- Cards documentos -->
      <div class="cards-document__container">
        <!-- consulta medica -->
        <ng-container *ngIf="idPrestacionSeleccionada == 1">
          <ng-container *ngFor="let docs of documentsDisplay.consultamedica.nameFiles;let indexDocName = index">
            <div [ngClass]="[documentsDisplay.consultamedica.cols]"
              *ngIf="!(getStepsStatus('stepThree_general','copagoMayor') == 'no' && docs.esDiagnostico)">
              <h1 class="titleDocs">{{docs.name}}</h1>
              <ds-file type="default" [attr.id]="'documento'+indexDocName"
                bottom-text="Adjunta un archivo (jpg, jpeg o png) que no supere los 15MB">
              </ds-file>
              <p class="archivos-adjuntos__title">Archivos adjuntos</p>
              <ng-container *ngFor="let file of docs.files;let indexFile = index">
                <!-- Card documento adjunto -->
                <div class="archivos-adjuntos__container">

                  <div class="filesUploaded" (click)="vistaPreviaArchivo(file.file,docs.name)">
                    <!-- icon -->
                    <div class="icono-view cursor-pointer" (click)="vistaPreviaArchivo(file.file,docs.name)">
                      <ds-icon size="20" [iconName]="'bi-eye-fill'"> </ds-icon>
                    </div>

                    <!--pre view-->

                    <!-- name -->
                    <div class="flex items-center justify-start container-name-file">
                      <div class="text-no-overflow">{{file.file.name}} </div>
                    </div>
                    <!-- delete -->
                    <div class="icono-delete cursor-pointer"
                      (click)="validateFileState('consultamedica',indexDocName);deleteDocs('consultamedica',indexDocName,file.file.name)">
                      <ds-icon size="20" [iconName]="'bi-trash'"> </ds-icon>
                    </div>
                  </div>
                  <!--Fin  Card documento adjunto -->
                </div>
                <!--Fin Card documento adjunto -->
              </ng-container>
            </div>
          </ng-container>
        </ng-container>
        <!--Fin consulta medica -->
        <!-- consulta hospitalaria -->
        <ng-container *ngIf="idPrestacionSeleccionada == 2">
          <ng-container *ngFor="let docs of documentsDisplay.hospitalario.nameFiles;let indexDocName = index">
            <div [ngClass]="[documentsDisplay.hospitalario.cols]">
              <h1 class="titleDocs">{{docs.name}}</h1>
              <ds-file type="default" [attr.id]="'documento'+indexDocName"
                bottom-text="Adjunta un archivo (jpg, jpeg o png) que no supere los 15MB">
              </ds-file>
              <p class="archivos-adjuntos__title">Archivos adjuntos</p>
              <ng-container *ngFor="let file of docs.files;let indexFile = index">
                <!-- Card documento adjunto -->
                <div class="archivos-adjuntos__container">
                  <div class="filesUploaded" (click)="vistaPreviaArchivo(file.file,docs.name)">
                    <!-- icon -->
                    <div class="icono-view cursor-pointer" (click)="vistaPreviaArchivo(file.file,docs.name)">
                      <ds-icon size="20" [iconName]="'bi-eye-fill'"> </ds-icon>
                    </div>
                    <!-- name -->
                    <div class="flex items-center justify-start container-name-file">
                      <div class="text-no-overflow">{{file.file.name}} </div>
                    </div>
                    <!-- delete -->
                    <div class="icono-delete cursor-pointer"
                      (click)="validateFileState('hospitalario',indexDocName);deleteDocs('hospitalario',indexDocName,file.file.name)">
                      <ds-icon size="20" [iconName]="'bi-trash'"> </ds-icon>
                    </div>
                  </div>
                  <!--Fin  Card documento adjunto -->
                </div>
                <!--Fin Card documento adjunto -->
              </ng-container>
            </div>
          </ng-container>
        </ng-container>
        <!--Fin consulta hospitalaria -->

        <!-- marcos y lentes -->
        <ng-container *ngIf="idPrestacionSeleccionada == 3">
          <ng-container *ngFor="let docs of documentsDisplay.lentes.nameFiles;let indexDocName = index">
            <div [ngClass]="[documentsDisplay.lentes.cols]">
              <h1 class="titleDocs">{{docs.name}}</h1>
              <ds-file type="default" [attr.id]="'documento'+indexDocName"
                bottom-text="Adjunta un archivo (jpg, jpeg o png) que no supere los 15MB">
              </ds-file>
              <p class="archivos-adjuntos__title">Archivos adjuntos</p>
              <ng-container *ngFor="let file of docs.files;let indexFile = index">
                <!-- Card documento adjunto -->
                <div class="archivos-adjuntos__container">
                  <div class="filesUploaded" (click)="vistaPreviaArchivo(file.file,docs.name)">
                    <!-- icon -->
                    <div class="icono-view cursor-pointer" (click)="vistaPreviaArchivo(file.file,docs.name)">
                      <ds-icon size="20" [iconName]="'bi-eye-fill'"> </ds-icon>
                    </div>
                    <!-- name -->
                    <div class="flex items-center justify-start container-name-file">
                      <div class="text-no-overflow">{{file.file.name}} </div>
                    </div>
                    <!-- delete -->
                    <div class="icono-delete cursor-pointer"
                      (click)="validateFileState('lentes',indexDocName);deleteDocs('lentes',indexDocName,file.file.name)">
                      <ds-icon size="20" [iconName]="'bi-trash'"> </ds-icon>
                    </div>
                  </div>
                  <!--Fin  Card documento adjunto -->
                </div>
                <!--Fin Card documento adjunto -->
              </ng-container>
            </div>
          </ng-container>
        </ng-container>
        <!--Fin marcos y lentes -->

        <!-- dentales -->
        <ng-container *ngIf="idPrestacionSeleccionada == 4">
          <ng-container *ngFor="let docs of documentsDisplay.dentales.nameFiles;let indexDocName = index">
            <div [ngClass]="[documentsDisplay.dentales.cols]">
              <h1 class="titleDocs">{{docs.name}}</h1>
              <ds-file type="default" [attr.id]="'documento'+indexDocName"
                bottom-text="Adjunta un archivo (jpg, jpeg o png) que no supere los 15MB">
              </ds-file>
              <p class="archivos-adjuntos__title">Archivos adjuntos</p>
              <ng-container *ngFor="let file of docs.files;let indexFile = index">
                <!-- Card documento adjunto -->
                <div class="archivos-adjuntos__container">
                  <div class="filesUploaded" (click)="vistaPreviaArchivo(file.file,docs.name)">
                    <!-- icon -->
                    <div class="icono-view cursor-pointer" (click)="vistaPreviaArchivo(file.file,docs.name)">
                      <ds-icon size="20" [iconName]="'bi-eye-fill'"> </ds-icon>
                    </div>
                    <!-- name -->
                    <div class="flex items-center justify-start container-name-file">
                      <div class="text-no-overflow">{{file.file.name}} </div>
                    </div>
                    <!-- delete -->
                    <div class="icono-delete cursor-pointer"
                      (click)="validateFileState('dentales',indexDocName);deleteDocs('dentales',indexDocName,file.file.name)">
                      <ds-icon size="20" [iconName]="'bi-trash'"> </ds-icon>
                    </div>
                  </div>
                  <!--Fin  Card documento adjunto -->
                </div>
                <!--Fin Card documento adjunto -->
              </ng-container>
            </div>
          </ng-container>
        </ng-container> <!-- Fin dentales -->

        <!-- examenes y procedimientos -->
        <ng-container *ngIf="idPrestacionSeleccionada == 5">
          <ng-container *ngFor="let docs of documentsDisplay.examenes.nameFiles;let indexDocName = index">
            <div [ngClass]="[documentsDisplay.examenes.cols]"
              *ngIf="docs.required || getStepsStatus('stepThree_general','copagoMayor') == 'si' && !docs.required">
              <h1 class="titleDocs">{{docs.name}}</h1>
              <ds-file type="default" [attr.id]="'documento'+indexDocName"
                bottom-text="Adjunta un archivo (jpg, jpeg o png) que no supere los 15MB">
              </ds-file>
              <p class="archivos-adjuntos__title">Archivos adjuntos</p>
              <ng-container *ngFor="let file of docs.files;let indexFile = index">
                <!-- Card documento adjunto -->
                <div class="archivos-adjuntos__container">
                  <div class="filesUploaded" (click)="vistaPreviaArchivo(file.file,docs.name)">
                    <!-- icon -->
                    <div class="icono-view cursor-pointer" (click)="vistaPreviaArchivo(file.file,docs.name)">
                      <ds-icon size="20" [iconName]="'bi-eye-fill'"> </ds-icon>
                    </div>
                    <!-- name -->
                    <div class="flex items-center justify-start container-name-file">
                      <div class="text-no-overflow">{{file.file.name}} </div>
                    </div>
                    <!-- delete -->
                    <div class="icono-delete cursor-pointer"
                      (click)="validateFileState('examenes',indexDocName);deleteDocs('examenes',indexDocName,file.file.name)">
                      <ds-icon size="20" [iconName]="'bi-trash'"> </ds-icon>
                    </div>
                  </div>
                  <!--Fin  Card documento adjunto -->
                </div>
                <!--Fin Card documento adjunto -->
              </ng-container>
            </div>
          </ng-container>
        </ng-container>
        <!--Fin examenes y procedimientos -->

        <!-- medicamentos -->
        <ng-container *ngIf="idPrestacionSeleccionada == 6">
          <ng-container *ngFor="let docs of documentsDisplay.medicamentos.nameFiles;let indexDocName = index">
            <div [ngClass]="[documentsDisplay.medicamentos.cols]">
              <h1 class="titleDocs">{{docs.name}}</h1>
              <ds-file type="default" [attr.id]="'documento'+indexDocName"
                bottom-text="Adjunta un archivo (jpg, jpeg o png) que no supere los 15MB">
              </ds-file>
              <p class="archivos-adjuntos__title">Archivos adjuntos</p>
              <ng-container *ngFor="let file of docs.files;let indexFile = index">
                <!-- Card documento adjunto -->
                <div class="archivos-adjuntos__container">
                  <div class="filesUploaded" (click)="vistaPreviaArchivo(file.file,docs.name)">
                    <!-- icon -->
                    <div class="icono-view cursor-pointer" (click)="vistaPreviaArchivo(file.file,docs.name)">
                      <ds-icon size="20" [iconName]="'bi-eye-fill'"> </ds-icon>
                    </div>
                    <!-- name -->
                    <div class="flex items-center justify-start container-name-file">
                      <div class="text-no-overflow">{{file.file.name}} </div>
                    </div>
                    <!-- delete -->
                    <div class="icono-delete cursor-pointer"
                      (click)="validateFileState('medicamentos',indexDocName);deleteDocs('medicamentos',indexDocName,file.file.name)">
                      <ds-icon size="20" [iconName]="'bi-trash'"> </ds-icon>
                    </div>
                  </div>
                  <!--Fin  Card documento adjunto -->
                </div>
                <!--Fin Card documento adjunto -->
              </ng-container>
            </div>
          </ng-container>
        </ng-container>
        <!--Fin medicamentos -->

      </div> <!-- Fin Cards documentos -->
    </ng-container>
    <!--Fin Esperando seleccionar tipo documento -->

  </div>
</section>

<div *ngIf="mostrarPreview" class="modal_preview_container">
  <div class="modal_preview_doc">
    <div class="modal_preview_content" *ngIf="fileUrl && fileUrl !==''">
      <div class="modal_preview_header">
        <ds-icon (click)="mostrarPreview=false" color="actionPrimary" size="20" icon-name="bi-x"></ds-icon>
      </div>
      <div class="document--viewer">
        <img [src]="fileUrl" type="application/pdf" width="100%" />
      </div>
      <div class="document--text">
        <span class="title_file_preview">{{previewDocumentName}}</span>
        <span class="subtitle_file_preview">{{nameDocSelectedPreview}}</span>
      </div>
    </div>
  </div>
</div>
