.archivo-personalizado-cargado {
    border: solid 2px #d2d9df;
    border-style: dashed;
    border-radius: 10px;
    font-family: "Titilium";

    .text-header {
        font-size: 18px;
    }

    .text-description {
        color: #d2d9df;
        font-size: 14px;
    }
}

.lista-archivos-cargados-custom {
    border: solid #d2d9df 2px;
    border-radius: 10px;
}

.titulo-archivo-cargado {
    font-weight: 900;
    font-size: 16px;
    color: #989999;
}

.monto-reembolsado-activo {
    background-color: var(--sec2);
    border-radius: 10px;
    height: 55px;
}

ds-icon {
    margin-right: 1rem;
    margin-left: 1rem;
}

.titleDocs {
    padding-left: 10px;
    font-weight: 700;
    color: rgb(80, 80, 80);
    padding-bottom: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
}

.filesUploaded {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        padding: 10px;
        width: 100%;
        min-height: 40px;
        background: #ffffff;
        border: 1px solid #d2d9df;
        border-radius: 8px;

        .container-name-file {
            height: 100%;
            width: 100%;
            text-decoration: underline;
        }



}

.cards-document__container{
    display: flex;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
    
    .div, .col-span-4, .col-span-3{
        display: flex !important;
        flex-direction: column;
        gap: 20px;
        min-width: 200px;
        width: 100% !important;

        h1{
            margin: 0 !important;
            padding: 0 !important;
            height: auto !important;
        }

    }


}

.archivos-adjuntos__container{
    display: flex;
    flex-direction: column;
    gap: 10px;

    p{
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
    }
}