.archivo-personalizado-cargado {
    border: solid 2px #d2d9df;
    border-style: dashed;
    border-radius: 10px;
    font-family: "Titilium";

    .text-header {
        font-size: 18px;
    }

    .text-description {
        color: #d2d9df;
        font-size: 14px;
    }
}

.lista-archivos-cargados-custom {
    border: solid #d2d9df 2px;
    border-radius: 10px;
}

.titulo-archivo-cargado {
    font-weight: 900;
    font-size: 16px;
    color: #989999;
}

.monto-reembolsado-activo {
    background-color: var(--sec2);
    border-radius: 10px;
    height: 55px;
}

ds-icon {
    margin-right: 1rem;
    margin-left: 1rem;
}

.titleDocs {
    padding-left: 10px;
    font-weight: 700;
    color: rgb(80, 80, 80);
    padding-bottom: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
}

.filesUploaded {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 100%;
    min-height: 40px;
    background: #ffffff;
    border: 1px solid #d2d9df;
    border-radius: 8px;
    cursor: pointer;

    .container-name-file {
        height: 100%;
        width: 100%;
        text-decoration: underline;
    }



}

.cards-document__container {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    width: 100%;

    .div,
    .col-span-4,
    .col-span-3,
    .col-span-12 {
        display: flex !important;
        flex-direction: column;
        gap: 20px;
        min-width: 200px;
        width: 100% !important;

        h1 {
            margin: 0 !important;
            padding: 0 !important;
            height: auto !important;
        }

    }


}

.archivos-adjuntos__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.archivos-adjuntos__container {
    display: flex;
    flex-direction: column;
    gap: 10px;


}

.modal_preview_container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: grid;
    place-content: center;


    .modal_preview_doc {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 20px 20px 40px 20px;
        width: 100%;
        max-width: 700px;
        overflow: hidden;
        background-color: #ffffff;
        border: 1px solid #D2D9DF;
        box-shadow: 0px 4px 8px rgba(67, 80, 94, 0.2);
        border-radius: 8px;

        .modal_preview_header {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 20px;

            ds-icon {
                cursor: pointer;
            }
        }

        .modal_preview_content {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            gap: 30px;

            .document{
                width: 100%;
                embed {
                    width: 60vw;
                    height: 75vh;
    
                    body {
                        img {
                            height: 100%;
                            object-fit: cover;
                        }
                    }
    
                }
            }
        }
    }

}

