.page--resumen__container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px !important;
    gap: 30px;
    width: 100%;
    height: auto;

    .group-table{
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    ds-title{
        .titulo-parte-izquierda {
            font-weight: 600 !important;
            font-size: 22px !important;
            color: --sec2 !important;
            width: auto !important;
        }
    
        .titulo-parte-derecha {
            margin-left: 10px;
            font-weight: 400;
            font-size: 22px;
            color: --sec2 !important;
        }
    }
   

    .table__container{
        width: 100%;

        ds-table{
            width: 100%;
        }
    }

    .otro-reembolso__container{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 15px;

        .reembolso__row{
            display: flex;
            width: 100%;
            justify-content: space-between;
            gap: 15px;

            app-card-option{
                width: 100%;
            }
        }

        
    }

}

.botones__row{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 15px;

}




.page-resumen--title__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  
    ds-title{
        width: 100%;
    }
  
    div{
        height: fit-content !important;
    }
  }
  




.seccion-agregar-nuevo-reembolso {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.pregunta {
    font-weight: 600 !important;
    font-size: 22px !important;
}

.wrapper-total {
    background-color: var(--green4) !important;

}

.totalizador-monto-solicitado {
    font-weight: 600;
    color: var(--ter0);
}

.header-tabla-resumen {
    font-style: 12px !important;
    font-weight: 600 !important;

}

.sub-totales {
    background-color: var(--ter5) !important;
    margin-bottom: 2px !important;
    margin-top: 2px !important;
}

ds-table-body-row {
    margin-bottom: 2px !important;
}

.seccion-botones {
    margin-top: 20px;
    padding-bottom: 1.875rem !important;
}

.row_total>ds-table-body-column:nth-child(1) {
    border-radius: 0px 0px 0px 10px !important;
}

.row_total>ds-table-body-column-actions {
    border-radius: 0px 0px 10px 0px !important;
}

