<!-- HEADER -->
<div class="page--resumen__container">
    <div class="group-table">
        <div class="page-resumen--title__container">
            <ds-title type="t4" family="secondary" weight="bold" color="primary">
                <span class="titulo-parte-izquierda">Detalle de reembolso de: </span>
                <span class="titulo-parte-derecha">{{usuarioSeleccionado.key | titlecase }}</span>
            </ds-title>
            <div [routerLink]="['/solicitud']">
                <ds-button (click)="goBack()" variant="complementary" slotName="back-button-slot">
                    <ds-icon class="css-1h5x3dy" size="16" color="info6" icon-name="bi-chevron-left"
                        slot="back-button-slot"></ds-icon>
                    <span class="back-button__text" slot="back-button-slot">volver atrás</span>
                </ds-button>
            </div>
        </div>

        <div class="table__container">
            <ds-table>
                <ds-table-header slot="header">
                    <ds-table-header-column slot="column"><span slot="element header-tabla-resumen">Tipo de
                            reembolso</span>
                    </ds-table-header-column>
                    <ds-table-header-column slot="column"><span slot="element header-tabla-resumen">Fecha de
                            emisión</span>
                    </ds-table-header-column>
                    <ds-table-header-column slot="column"><span slot="element header-tabla-resumen">Valor
                            prestaciones</span>
                    </ds-table-header-column>
                    <ds-table-header-column slot="column"><span slot="element">Monto solicitado</span>
                    </ds-table-header-column>
                </ds-table-header>
                <ds-table-body slot="body">
                    <ng-container *ngFor="let solicitud of solicitudes">
                        <ds-table-body-row slot="row" class="sub-totales">
                            <ds-table-body-column slot="column">
                                <span slot="element">{{solicitud.tipoReembolso}}</span>
                            </ds-table-body-column>
                            <ds-table-body-column slot="column">
                                <span slot="element">{{solicitud.fecha}}</span>
                            </ds-table-body-column>
                            <ds-table-body-column slot="column">
                                <span slot="element">$ {{solicitud.valorPrestacion | number :'0.0-2'}}</span>
                            </ds-table-body-column>
                            <ds-table-body-column slot="column">
                                <span slot="element">$ {{solicitud.valorPrestacion - solicitud.bonificacion | number
                                    :'0.0-2'}}</span>
                            </ds-table-body-column>
                        </ds-table-body-row>
                    </ng-container>

                    <!-- rows of totals -->
                    <!-- Row total reembolsar -->
                    <ds-table-body-row class="row_defined wrapper-total row_total" slot="row">
                        <ds-table-body-column slot="column">
                            <span slot="element"><strong>Monto total solicitado</strong></span>
                        </ds-table-body-column>
                        <ds-table-body-column slot="column">
                            <span slot="element"></span>
                        </ds-table-body-column>
                        <ds-table-body-column slot="column">
                            <span slot="element"></span>
                        </ds-table-body-column>
                        <ds-table-body-column-actions slot="column">
                            <span class="totalizador-monto-solicitado" slot="element">$ {{montoTotalSolicitado | number
                                :
                                '0.0-2'}}</span>
                        </ds-table-body-column-actions>
                    </ds-table-body-row>
                </ds-table-body>
            </ds-table> <!-- Fin ds-table -->

        </div>
    </div>
    <!-- Nuevo reembolso -->
    <div class="seccion-agregar-nuevo-reembolso">
        <div>
            <ds-paragraph class="pregunta" type="p1" family="primary" weight="bold" color="primary">
                <span slot="text">¿Quieres agregar un nuevo reembolso a esta solicitud?
                </span>
            </ds-paragraph>
        </div>
        <div class="radio-buttons__resumen">
            <ds-radio type="s1" family="primary" label="Sí" name="reembolsoIsapre" value="Sí"
                (click)="setValorRadioButtons('si')">
            </ds-radio>
            <ds-radio type="s1" family="primary" label="No" name="reembolsoIsapre" value="No"
                (click)="setValorRadioButtons('no')">
            </ds-radio>
        </div>
    </div> <!-- Fin Nuevo reembolso -->

    <ng-containter class="otro-reembolso__container" *ngIf="nuevoReembolso=== 'si'">
        <div class="reembolso__row" [ngSwitch]="prestacionSeleccionada">
            <div *ngSwitchCase="1 || 3 || 5 || 6" class="reembolso__row">
                <app-card-option *ngFor="let x of opcionesPrestacionesCLEM;let id = index" [status]="x.status"
                    [name]="x.name"  (click)="habilitarSeleccionBeneficiario(false);setCard(x)"
                    [prestacionName]="x.prestacion" (click)="  continuar=true">
                </app-card-option>
            </div>
            <div *ngSwitchCase="4">
                <app-card-option *ngFor="let x of opcionesPrestacionesD;let id =index" [status]="x.status" [name]="x.name"
                     (click)="habilitarSeleccionBeneficiario(false); setCard(x)"
                    [prestacionName]=" x.prestacion" (click)="  continuar=true">
                </app-card-option>
            </div>
            <div *ngSwitchDefault></div>
        </div>
        <div>

        </div>
        <!-- botones-->
        <section>
            <div class="botones__row">
                <ds-button id="ds-button-cancelar" (click)="habilitarSeleccionBeneficiario(true);cancelar()"
                    [size]="'s2'" variant="secondary" slot-name="cancel-button-slot">
                    <span slot="cancel-button-slot">Cancelar</span>
                </ds-button>
                <ds-button id="ds-button-siguiente" (click)="habilitarSeleccionBeneficiario(true)"
                    [disabled]="!continuar" *ngIf="returnValorRadioButtons() == 'si'" [size]="'s2'" variant="primary"
                    slot-name="next-button-slot" [routerLink]="['/solicitud']">
                    <span slot="next-button-slot"> Continuar </span>
                </ds-button>
            </div>
        </section>
    </ng-containter>
    <ng-containter class="otro-reembolso__container" *ngIf="nuevoReembolso === 'no'">
        <!-- botones-->
        <section>
            <div class="botones__row">
                <ds-button id="ds-button-cancelar" (click)="cancelar()" [size]="'s2'" variant="secondary"
                    slot-name="cancel-button-slot">
                    <span slot="cancel-button-slot">Cancelar</span>
                </ds-button>
                <ds-button id="ds-button-finalizar" [size]="'s2'" variant="primary" slot-name="next-button-slot"
                    (click)="finalizarGo()">
                    <span slot="next-button-slot"> Finalizar y Enviar </span>
                </ds-button>

            </div>
        </section>
    </ng-containter>
</div>

<section class="modal-pantalla-final" *ngIf="mostrarModalFinal">

    <div class="wrapper-final">
        <div class="modal--container">
            <div class="icon">
                <img src="./../../../assets/svg/final-header-icon.svg" alt="">
            </div>
            <div class="content">
                <div class="title">
                    <ds-title type="t4" family="secondary" weight="bold" color="primary">
                        <span slot="text">
                            <span> Recibimos con éxito tu solicitud de reembolso
                            </span>
                        </span>
                    </ds-title>
                    <p>Consulta médica y compra de medicamentos a favor de Alejandro Salgado</p>
                    <div class="linea-division"></div>
                </div>


                <div class="info">
                    <!-- Detalles  -->
                    <div class="detalles">
                        <!--Detalles izquierda  -->
                        <div class="detalles--column">
                            <div class="info-row">
                                <ds-paragraph type="p1" family="secondary" weight="semiBold" color="secondary">
                                    <span slot="text" class="text--bold">
                                        Rut Prestador:</span>
                                </ds-paragraph>
                                <ds-paragraph type="p1" family="secondary" color="primary">
                                    <span slot="text" class="text-normal">
                                        11.356.172-6</span>
                                </ds-paragraph>
                            </div>
                            <div class="info-row">
                                <ds-paragraph type="p1" family="secondary" weight="semiBold" color="secondary">
                                    <span slot="text" class="text--bold">
                                        Documento:</span>
                                </ds-paragraph>
                                <ds-paragraph type="p1" family="secondary" color="primary">
                                    <span slot="text" class="text-normal">
                                        Boleta</span>
                                </ds-paragraph>
                            </div>
                            <div class="info-row">
                                <ds-paragraph type="p1" family="secondary" weight="semiBold" color="secondary">
                                    <span slot="text" class="text--bold">
                                        N° Siniestro:</span>
                                </ds-paragraph>
                                <ds-paragraph type="p1" family="secondary" color="primary">
                                    <span slot="text" class="text-normal">
                                        {{this.numeroSolicitado}}</span>
                                </ds-paragraph>
                            </div>
                        </div>
                        <!--Fin Detalles izquierda  -->
                        <!--Detalles derecha  -->
                        <div class="detalles--column">
                            <div class="info-row">
                                <ds-paragraph type="p1" family="secondary" weight="semiBold" color="secondary">
                                    <span slot="text" class="text--bold">
                                        Fecha emisión:</span>
                                </ds-paragraph>
                                <ds-paragraph type="p1" family="secondary" color="primary">
                                    <span slot="text" class="text-normal">
                                        {{construirFechaActual()}}</span>
                                </ds-paragraph>
                            </div>
                            <div class="info-row">
                                <ds-paragraph type="p1" family="secondary" weight="semiBold" color="secondary">
                                    <span slot="text" class="text--bold">
                                        Monto solicitado:</span>
                                </ds-paragraph>
                                <ds-paragraph type="p1" family="secondary" color="primary">
                                    <span slot="text" class="text-normal">
                                        ${{this.montoSolicitado}}</span>
                                </ds-paragraph>
                            </div>
                        </div>
                        <!--Fin Detalles derecha  -->
                    </div>
                    <!--Fin Detalles  -->

                    <!-- Datos bancarios  -->
                    <div class="data-bank">
                        <ds-paragraph type="p1" family="secondary" weight="semiBold" color="secondary">
                            <span slot="text" class="bank-title">
                                Tu reembolso se depositará en la siguiente cuenta bancaria:</span>
                        </ds-paragraph>
                        <div class="detalles--column">
                            <div class="info-row">
                                <ds-paragraph type="p1" family="secondary" weight="semiBold" color="secondary">
                                    <span slot="text" class="text--bold">
                                        Banco</span>
                                </ds-paragraph>
                                <ds-paragraph type="p1" family="secondary" color="primary">
                                    <span slot="text" class="text-normal">
                                        Banco de Crédito en Inversiones</span>
                                </ds-paragraph>
                            </div>
                            <div class="info-row">
                                <ds-paragraph type="p1" family="secondary" weight="semiBold" color="secondary">
                                    <span slot="text" class="text--bold">
                                        Cuenta</span>
                                </ds-paragraph>
                                <ds-paragraph type="p1" family="secondary" color="primary">
                                    <span slot="text" class="text-normal">
                                        00000-0456-5678-0</span>
                                </ds-paragraph>
                            </div>
                        </div>

                    </div><!-- Fin Datos bancarios  -->

                    <div class="mail">
                        <ds-paragraph type="p1" family="secondary" color="secondary">
                            <span slot="text" class="text-normal--mail">
                                Pronto recibirás en tu correo el resultado de tu solicitud. <br>
                                Ante cualquier consulta escríbenos a <a
                                    href="mailto:contactovida@vidasecurity.cl">contactovida@vidasecurity.cl</a>
                            </span>
                        </ds-paragraph>
                    </div>
                </div>

                <!-- botón final-->
                <section class="reembolso__botones--container">
                    <ds-button id="ds-button-siguiente" [routerLink]="['/historial']" [size]="'s2'" variant="primary"
                        slot-name="next-button-slot">
                        <span slot="next-button-slot"> Volver al inicio </span>
                    </ds-button>
                </section>
            </div> <!-- fin content -->
        </div>
    </div>

</section>