.page--resumen__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px !important;
    gap: 30px;
    width: 100%;
    height: auto;

    .group-table {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    ds-title {

        gap: 10px;
        .titulo-parte-izquierda {
            font-weight: 600 !important;
            font-size: 22px !important;
            color: --sec2 !important;
            width: auto !important;
        }

        .titulo-parte-derecha {
            font-family: 'Titillium Web';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 22px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #424893;
        }
    }


    .table__container {
        width: 100%;

        ds-table {
            width: 100%;
        }
    }

    .otro-reembolso__container {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 15px;

        .reembolso__row {
            display: flex;
            width: 100%;
            justify-content: space-between;
            gap: 15px;

            app-card-option {
                width: 100%;
            }
        }


    }

}

.botones__row {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 15px;

}

.page-resumen--title__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    ds-title {
        width: 100%;
    }

    div {
        height: fit-content !important;
    }
}

.radio-buttons__resumen{
    display: flex;
    gap: 20px;
}




.seccion-agregar-nuevo-reembolso {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.pregunta {
    font-weight: 600 !important;
    font-size: 22px !important;
}

.wrapper-total {
    background-color: var(--green4) !important;

}

.totalizador-monto-solicitado {
    font-weight: 600;
    color: var(--ter0);
}

.header-tabla-resumen {
    font-style: 12px !important;
    font-weight: 600 !important;

}

.sub-totales {
    background-color: var(--ter5) !important;
    margin-bottom: 2px !important;
    margin-top: 2px !important;
}

ds-table-body-row {
    margin-bottom: 2px !important;
}

.seccion-botones {
    margin-top: 20px;
    padding-bottom: 1.875rem !important;
}

.row_total>ds-table-body-column:nth-child(1) {
    border-radius: 0px 0px 0px 10px !important;
}

.row_total>ds-table-body-column-actions {
    border-radius: 0px 0px 10px 0px !important;
}


// MODAL

.modal-pantalla-final {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #111111bd;
    display: grid;
    place-content: center;
    
    .wrapper-final {
        border-radius: 8px !important;
        width: 760px;
        height: auto;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 30px 30px;
        gap: 10px;

        .modal--container{
            display: flex;
            align-items: flex-start;
            padding: 0px 60px 0px 0px;
            gap: 10px;
            width: 100%;

            .icon{
                padding-top: 5px;
                width: auto;
                height: 100%;
                img{
                    width: 50px;
                }
            }

            .content{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;
                width: 100%;

                .title{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;
                    width: 100%;

                    span{
                        font-weight: 700;
                        font-size: 26px;
                        line-height: 26px;
                        color: #424893;
                    }
                    p{
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 18px;
                        color: #242C35;
                    }
                }

                .linea-division{
                    background-color: #8F9EAD;
                    width: 100%;
                    height: 1px;
                    margin-top: 10px;
                }

                .info{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 40px;
                    width: 100%;

                    .detalles{
                        display: flex;
                        align-items: flex-start;
                        gap: 40px;
                        width: 100%;
                       
                    }

                    .text-normal--mail{
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 16px;
                        color: #242C35;
                    }

                    .detalles--column, .data-bank{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 20px;
                        width: 100%;

                        .info-row{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;
                            height: 16px;

                            .text--bold{
                                font-weight: 600;
                                font-size: 15px;
                                line-height: 16px;
                                text-align: left;
                                color: #43505E;
                            }
                            .text-normal{
                                font-weight: 400;
                                font-size: 15px;
                                line-height: 16px;
                                text-align: right;
                                color: #43505E;
                            }
                        }

                        .bank-title{
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 18px;
                            text-align: center;
                            color: #424893;
                        }
                    }

                }
            }
        }
    }
    


}

.ds-button-siguiente{
    span{
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        color: #fff !important;
    }
}

// FIN MODAL 