.card-content {
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 0;
    overflow: hidden;
    box-shadow: none !important;
    

    box-sizing: border-box;
    width: auto;
    height: 70px !important;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: 1px solid var(--color-font-tertiary) !important;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    cursor: pointer;

    .card-sidebar{
        width: 8px;
        height: 100%;
        background-color: #fff;

    }
}
.card-content.active {
    box-sizing: border-box;
    width: auto;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(67 80 94 / 20%) 0px 4px 4px 0px;
    border-color: #ef6f00;
    border-style: solid;
    border-width: 0px 0px 0px 8px;
    padding-left: 0px;
    cursor: auto;

    .card-sidebar{
        background-color: #ef6f00;
        
    }
}
.card-content.disabled {
    box-sizing: border-box;
    width: auto;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(67 80 94 / 20%) 0px 4px 4px 0px;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    cursor: not-allowed;
    color: rgb(177, 177, 177);
}

.text-card {
    font-size: 18px;
    line-height: 24px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    color: black;
}
.text-card.active {
    color: #ef6f00;
}
