<div class="page__container">

  <!-- HEADER -->
  <div class="page-title__container">
    <ds-title type="t4" family="secondary" weight="bold" color="primary">
      <span slot="text">Solicitud de Reembolso</span>
    </ds-title>
    <div [routerLink]="['/historial']">
      <ds-button variant="complementary" slotName="back-button-slot">
        <ds-icon color="info6" size="30" icon-name="bi-arrow-left-short" slot="back-button-slot"></ds-icon>
        <span class="back-button__text" slot="back-button-slot">volver atrás</span>
      </ds-button>
    </div>
  </div>

  <!-- QUIEN SE ATENDIO -->
  <app-step-quien-se-atendio *ngIf="habilitarSeleccionBeneficiario" [stepperOneSource]="stepperOneSource"
    [customStepperSize]="customStepperSize"></app-step-quien-se-atendio>

  <!-- SELECCIONA TU PRESTACION -->
  <app-step-selecciona-prestacion [stepperTwoSource]="stepperTwoSource" [customStepperSize]="customStepperSize"
    [chipsData]="chipsData"></app-step-selecciona-prestacion>

  <!-- COMPLETAR DATOS GENERALES -->
  <app-step-datos-generales (mostrarDocumentoAdicional)="mostrarDocumentoAdicional($event)"
    [stepperThreeSource]="stepperThreeSource" [customStepperSize]="customStepperSize"></app-step-datos-generales>

  <!-- CARGA DE DOCUMENTOS -->
  <app-step-documentos-generales [eliminarDocumentoAdicional]="eliminarDocumentoAdicional"
    [montoReelbolso]="montoReelbolso" [stepperFourSource]="stepperFourSource" [customStepperSize]="customStepperSize">
  </app-step-documentos-generales>

  <!-- DETALLE PRESTACION -->
  <app-step-detalle-prestacion [customStepperSize]="customStepperSize" [stepperFiveSource]="stepperFiveSource"
    [montoReelbolso]="montoReelbolso" [stepsStatusOn]="stepsStatusOn"
    (mostrarAgregarDetallesModal)="mostrarAgregarDetallesModal()">
  </app-step-detalle-prestacion>
  
    <!-- Button siguiente -->
  <section class="reembolso__botones--container">
      <ds-button [size]="'s2'" variant="secondary" slot-name="cancel-button-slot">
        <span slot="cancel-button-slot">Cancelar</span>
      </ds-button>
      <ds-button [size]="'s2'" variant="primary" slot-name="next-button-slot" (click)="botonSiguiente()">
        <span slot="next-button-slot"> Siguiente </span>
      </ds-button>
  </section>
</div>

<app-modal-solicitud-reembolso-completada *ngIf="modalSolicitudCompletada" (close)="ocultarModalSolicitudCompeltada()">
</app-modal-solicitud-reembolso-completada>

<app-modal-registrar-medicamento *ngIf="modalRegistrarMedicamento" (close)="ocultarModalRegistrarMedicamento()">
</app-modal-registrar-medicamento>