//  @import 'tailwindcss';
@import "~@vs-design-system/ds-tokens/build/css/tokens.css";

// @import "tailwindcss/base";
// @import "tailwindcss/components";
 @import "tailwindcss/utilities";

* {
  font-family: "Titillium Web" !important;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// active card with border
.css-11d6cxn {
  width: auto !important;
  height: 60px !important;
  min-height: 0 !important;
  padding: 0 !important;
  border-radius: 8px !important;
  box-shadow: none !important;
  border-top: 1px solid grey !important;
  border-right: 1px solid grey !important;
  border-bottom: 1px solid grey !important;
  border-left-color: #ef6f00 !important;
  background-color: none !important;
  margin-bottom: 10px !important;
  margin-left: 10px !important;
}

// inactive card
.css-ak9sdm {
  width: auto !important;
  height: 60px !important;
  min-height: 0 !important;
  padding: 0 !important;
  border-radius: 8px !important;
  box-shadow: none !important;
  border: 1px solid grey !important;
  background-color: none !important;
  margin-bottom: 10px !important;
  margin-left: 10px !important;
}


.css-upkcef {
  width: min-content;
}

.css-blsfar {
  max-width: 100% !important;
}

.css-uxw5ky {
  max-width: 100% !important;
}

.font_titilium {
  font-family: "Titilium";
}


app-custom-stepper {

  span.success_icon {
    ds-icon {
      svg {
        fill: #628e37 !important;
      }
    }
  }

  span.waiting_icon {
    ds-icon {
      svg {
        fill: #ef6f00 !important;
      }
    }
  }
}

.css-8h3l1g {
  display: flex !important;
}

.css-1vyubn8.css-lirlie {
  padding: 8px 20px !important;
}

.css-1vyubn8.css-2z0lnu {
  padding: 10px 38px !important;
  font-weight: bold !important;
  font-size: 18px !important;
  color: rgb(255, 255, 255);
  box-shadow: none !important;
}

.css-1mpi4ja {
  padding: 10px 38px !important;
  font-weight: bold !important;
  font-size: 18px !important;
  box-shadow: none !important;
  color: rgb(143, 158, 173);
  background: rgb(241, 243, 245);
}

// ancho file uploadDocs

ds-file {
  min-width: 200px !important;
  height: auto;

  .css-ivir7d {
    width: 100% !important;
    gap: 20px !important;
    height: auto;
    padding: 30px !important;

    .css-hav5i4 {
      display: none;
    }
  }

}


/*.text-no-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 5px;
}*/


.icon-check.success {
  ds-icon {
    svg {
      fill: #628e37 !important;
    }
  }
}

/* Personalizando ds-input */

.waitStepperText {
  color: var(--ter3);
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 16px !important;
}


.css-qndpii {
  overflow-y: unset !important;
  max-height: fit-content !important;
}

.input_container {
  display: flex;
  position: relative;
  height: 40px;
  width: 100%;



  input.success {
    outline: none;
    transition: padding 0.4s ease 0s;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    cursor: text;
    border-width: 1px 1px 1px 4px;
    border-style: solid;
    border-color: rgb(98, 142, 55);
    border-image: initial;
    font-family: "Titillium Web", sans-serif;
    font-size: 14px;
    color: rgb(67, 80, 94);
    line-height: 1.43;
    padding: 10px 10px 4px 12px;
  }

  input {
    outline: none;
    transition: padding 0.4s ease 0s;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    cursor: text;
    border: 1px solid rgb(210, 217, 223);
    font-family: "Titillium Web", sans-serif;
    font-size: 14px;
    color: rgb(67, 80, 94);
    line-height: 1.43;
    padding: 10px 40px 10px 12px;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin-right: 0;
  }

  input:placeholder-shown+label {
    position: absolute;
    font-family: "Titillium Web", sans-serif;
    font-size: 14px;
    color: rgb(67, 80, 94);
    background-color: rgb(255, 255, 255);
    left: 12px;
    top: 10px;
    cursor: pointer;
    display: block;
    padding: 0px;
  }

  input:focus+label {
    display: block;
    font-family: "Titillium Web", sans-serif;
    font-size: 12px;
    color: rgb(96, 110, 125);
    background-color: rgb(255, 255, 255);
    pointer-events: none;
    position: absolute;
    top: -14px;
    padding: 4px;
    left: 12px;
    transition: top 0.4s ease 0s, left 0.4s ease 0s, font-size 0.4s ease 0s;
  }

  label {
    display: block;
    font-family: "Titillium Web", sans-serif;
    font-size: 12px;
    color: rgb(96, 110, 125);
    background-color: rgb(255, 255, 255);
    pointer-events: none;
    position: absolute;
    top: -13px;
    padding: 4px;
    left: 12px;
    transition: top 0.4s ease 0s, left 0.4s ease 0s, font-size 0.4s ease 0s;
  }

  p {
    margin: 0px;
    font-family: "Titillium Web", sans-serif;
    font-size: 12px;
    color: rgb(96, 110, 125);
    text-align: left;
    padding: 4px 12px 0px;
  }

}


span.steps-title {
  font-weight: 600 !important;
  font-size: 22px;
}

app-solicitar-reembolso {
  .css-jc5uxg {

    margin: 0;
  }
}

.css-wrkgm7 {
  display: flex !important;
  margin-top: 10px !important;
  width: 688px !important;
}

.w-full.inputsThirdField {
  box-sizing: border-box;
  position: relative;
  height: 40px;
  width: 100%;
}


.steps__container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  height: auto;
}

.steps-content__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  height: auto;
  width: 100%;
}

.css-2z5p18 {
  margin-bottom: 0px !important;
  padding-left: 25px !important;
}

.question__container {
  display: flex;
  gap: 15px;
  min-width: 40vw;
  max-width: 80vw;
  height: auto;
  align-items: baseline;
  justify-content: space-between;


  ds-paragraph span {
    width: max-content;
    align-items: center;
    font-size: 18px;

  }

  .question-options {
    display: flex;
    width: auto;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;

  }
}

ds-title {
  height: auto;
  margin: 0 !important;
  font-size: 22px !important;
  font-weight: 600 !important;
}

.grid,
.col-span-12 {
  width: 100% !important;
}


.css-2g1v7x {
  display: flex !important;
  flex-direction: column;
  height: auto;
}

.inputs__container {
  display: flex;
  align-items: center;
  height: 45px;
  gap: 5px;

  ds-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;

    span {
      display: flex !important;
      flex-direction: column;
      width: 24px;
      height: auto;

    }
  }

}

.gap-datepicker {
  gap: 5px;
}


.upload-documents__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  ds-paragraph {
    display: flex !important;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
    height: 22px;

    .css-na3qa4 {
      height: auto;
    }

    svg {
      width: 20px;
      height: 20px;
      color: #ef6f00 !important;

    }

    .css-1ssdf2w {
      width: 100% !important;

      span {
        width: auto !important;
      }
    }
  }

  .documents__options {
    display: flex;
    align-items: flex-start;
    gap: 30px;

    .mx-5 {
      margin: 0 !important;
    }
  }

}

ds-icon {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  height: auto;
  margin: 0 !important;

  .css-7kp13n {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    height: auto !important;

    span {
      display: flex !important;
      flex-direction: column;
      width: 100%;
      height: auto;

    }
  }

  .css-1r20hg {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    height: 20px;
  }
}

ds-button {
  display: flex !important;
  width: auto !important;
  height: auto !important;

  .css-2vxw4u {
    min-width: 160px;
    width: auto;
    height: 40px !important;
    padding: 10px 10px 10px 20px !important;
    gap: 10px !important;

    ds-icon {
      width: auto;
      height: auto;
    }

    span {
      display: flex !important;
      margin: 0 !important;
      text-align: center;
      height: auto;
    }

    .back-button__text {
      width: auto;
      font-size: 16px !important;
    }

  }
}

app-table-resume-detalle-prestacion {
  width: 100% !important;

  ds-table {
    width: 100% !important;

    ds-table-body-row {
      height: 40px !important;
      background: #F1F3F5 !important;

    }

    ds-table-body-row:hover {
      background: #F1F3F5 !important;
    }

    .row_total {
      background-color: #bcdeb1 !important;

      span {
        font-weight: 600 !important;
      }
    }

    .row_total:hover {
      background-color: #bcdeb1 !important;
    }

  }
}

.css-lirlie {
  border: 1px solid #6B77B3 !important;
  box-shadow: 0px 4px 12px rgba(67, 80, 94, 0.1) !important;
}

ds-title {
  display: flex !important;
  align-items: flex-start;
  width: 100%;
  padding-top: 2px !important;

  height: auto !important;
  font-size: 22px;
  font-weight: 600;
  line-height: 22px;
  color: #424893;

  h4 {
    line-height: 26px !important;
  }
}

.page-title__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  ds-title {
    width: fit-content;
  }

  div {
    height: fit-content !important;
  }
}

.css-1mpi4ja {
  box-shadow: none !important;
}

.css-1el2sgw {
  margin: 0 !important;
}


.modal-container {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.72);
  position: fixed !important;
  top: 0px;
  right: 0px;
  display: grid;
  align-items: center;
  justify-content: center;
  z-index: 100;
  overflow: hidden;

  .modal-wrapper {
    z-index: 101;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 30px 30px;
    gap: 30px;

    position: relative;
    width: 760px;
    height: auto;

    background: #FFFFFF !important;
    border: 1px solid #D2D9DF;

    box-shadow: 0px 4px 8px rgba(67, 80, 94, 0.2);
    border-radius: 8px;

    .titulo-modal-detalle {
      font-weight: 600 !important;
      font-weight: 600 !important;
      width: 100%;
      height: auto;
      padding: 0 !important;

      span {
        color: var(--sec2) !important;
        font-size: 1.35rem !important;
        text-align: left;
      }
    }

    .modal--form__container {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 20px;

      .modal--form {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;

        .modal--row {
          display: flex;
          width: 100%;
          gap: 10px;

          ds-search-v2,
          ds-select-v2,
          ds-input-v2 {
            width: 100% !important;
          }
        }
      }

      .form--total__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        width: 100%;
        height: 40px;

        background: #424893;
        border: 1px solid #232272;
        border-radius: 8px;

        span {
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 18px;
          color: #FFFFFF;
        }
      }

      .form--total__container.disabled {
        ds-paragraph>p>span {
          color: rgb(146, 158, 171);
        }

        background: #F1F3F5;
        border: 1px solid #D2D9DF;
      }
    }

  }

}

.reembolso__botones--container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  width: 100%;


}

.custom-scroll-container::-webkit-scrollbar {
  -webkit-appearance: none;
}

.custom-scroll-container::-webkit-scrollbar:vertical {
  width: 10px;
}

.custom-scroll-container::-webkit-scrollbar-button:increment,
.custom-scroll-container::-webkit-scrollbar-button {
  display: none;
}

.custom-scroll-container::-webkit-scrollbar:horizontal {
  height: 10px;
}

.custom-scroll-container::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.custom-scroll-container::-webkit-scrollbar-track {
  border-radius: 10px;
}

.prestaciones__container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;

  gap: 15px;
  width: 100%;
  box-sizing: border-box;
  
  .col-span-4{
    grid-column: auto;
  }
}

//////////////////////////////////////////////////////////////
// Responsive mobile

@media (max-width: 720px){

  .steps__container{
    gap: 10px;
  } 

  .page-title__container {
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
}
 
  .agregar-otro-detalle{
    .css-2vxw4u.css-lirlie{
      padding: 10px !important;
    }
  }

  .agregar-detalle
  {
    .css-2vxw4u.css-lirlie{
      padding: 10px !important;
      justify-content: center !important;
    }
  }

  ds-button {
    .css-2vxw4u{
      padding: 0 !important;

      .back-button__text{
        display: none !important;
      }
      
      
    }


    .css-15peefa{
      justify-content: flex-start !important;
    }

    

  }

  .stepperOneContent{
    width: 100% !important;
  }

  .wrapper-select-parentesco{
    width: 100% !important;
  }

  .prestaciones__container{
    grid-template-columns: 1fr;
  }

  .question__container{
    flex-wrap: wrap;
    width: 90vw !important;

    ds-paragraph{
      width: 90vw;
      span{
        width: 100%;
      }
    }
  }

  .upload-documents__container ds-paragraph{
    height: auto;
  }

  .documents__options{
    flex-direction: column;
  }

  .cards-document__container{
    flex-direction: column;
  }


  // Modal detalles de prestaci贸n

  .modal-container{

    .modal-wrapper{
      width: 90vw;
      padding: 20px 15px 15px 15px;

      .modal--row{
        flex-direction: column;
      }
    }
  }  // FIn Modal detalles de prestaci贸n
  
  // Modal finalizaci贸n

  .modal-pantalla-final{

    .wrapper-final{
      width: 90vw !important;

      .modal--container{
        flex-direction: column;
        padding: 0 !important;

        .detalles {
          flex-direction: column;
          gap: 20px !important;
        }
      }

      .bank-title{
        text-align: left !important;

      }

      .mail{
        .css-p4f3xo span{
          display: inline !important;
        }
      }

      .reembolso__botones--container{
        justify-content: center;
      }
    }
  } // Fin Modal finalizaci贸n

// Historial
.card-historial__container{
  flex-direction: column;

  .button-wrapper {
    width: 100% !important;

    ds-button{
      background-color: #ef6f00;
      justify-content: center;
      border-radius: 25px;
    }
  }
}
// Fin Historial

} // Fin Responsive mobile



