//  @import 'tailwindcss';
@import "~@vs-design-system/ds-tokens/build/css/tokens.css";

// @import "tailwindcss/base";
// @import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  font-family: "Titillium Web" !important;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// active card with border
.css-11d6cxn {
  width: auto !important;
  height: 60px !important;
  min-height: 0 !important;
  padding: 0 !important;
  border-radius: 8px !important;
  box-shadow: none !important;
  border-top: 1px solid grey !important;
  border-right: 1px solid grey !important;
  border-bottom: 1px solid grey !important;
  border-left-color: #ef6f00 !important;
  background-color: none !important;
  margin-bottom: 10px !important;
  margin-left: 10px !important;
}

// inactive card
.css-ak9sdm {
  width: auto !important;
  height: 60px !important;
  min-height: 0 !important;
  padding: 0 !important;
  border-radius: 8px !important;
  box-shadow: none !important;
  border: 1px solid grey !important;
  background-color: none !important;
  margin-bottom: 10px !important;
  margin-left: 10px !important;
}


.css-upkcef {
  width: min-content;
}

.css-blsfar {
  max-width: 100% !important;
}

.css-uxw5ky {
  max-width: 100% !important;
}

.font_titilium {
  font-family: "Titilium";
}


app-custom-stepper {
  height: auto !important;

  span.success_icon {
    ds-icon {
      svg {
        fill: #628e37 !important;
      }
    }
  }

  span.waiting_icon {
    ds-icon {
      svg {
        fill: #ef6f00 !important;
      }
    }
  }
}

.css-8h3l1g {
  display: flex !important;
}

.css-1vyubn8.css-lirlie {
  padding: 8px 20px !important;
}

.css-1vyubn8.css-2z0lnu {
  padding: 15px !important;
  font-weight: bold !important;
  font-size: 18px !important;
  color: rgb(255, 255, 255);
  box-shadow: none !important;
  min-width: 140px;
}

.css-1mpi4ja {
  padding: 10px 38px !important;
  font-weight: bold !important;
  font-size: 18px !important;
  box-shadow: none !important;
  color: rgb(143, 158, 173);
  background: rgb(241, 243, 245);
}

// ancho file uploadDocs

ds-file {
  min-width: 200px !important;
  height: auto;

  .css-ivir7d,
  .css-1o7esu3 {
    width: 100% !important;
    gap: 20px !important;
    height: auto;
    padding: 30px !important;

    .css-hav5i4 {
      display: none;
    }
  }

}


/*.text-no-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 5px;
}*/


.icon-check.success {
  ds-icon {
    svg {
      fill: #628e37 !important;
    }
  }
}

.icon-check.error {
  ds-icon {
    svg {
      fill: red !important;
    }
  }
}

/* Personalizando ds-input */

.waitStepperText {
  color: var(--ter3);
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 16px !important;
}


.css-qndpii {
  overflow-y: unset !important;
  max-height: fit-content !important;
}

.input_container {
  display: flex;
  position: relative;
  height: 40px;
  width: 100%;



  input.success {
    outline: none;
    transition: padding 0.4s ease 0s;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    cursor: text;
    border-width: 1px 1px 1px 4px;
    border-style: solid;
    border-color: rgb(98, 142, 55);
    border-image: initial;
    font-family: "Titillium Web", sans-serif;
    font-size: 14px;
    color: rgb(67, 80, 94);
    line-height: 1.43;
  }

  input.error {
    outline: none;
    transition: padding 0.4s ease 0s;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    cursor: text;
    border-width: 1px 1px 1px 4px;
    border-style: solid;
    border-color: #E60D2E;
    border-image: initial;
    font-family: "Titillium Web", sans-serif;
    font-size: 14px;
    color: rgb(67, 80, 94);
    line-height: 1.43;
  }

  input {
    outline: none;
    transition: padding 0.4s ease 0s;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    cursor: text;
    border: 1px solid rgb(210, 217, 223);
    font-family: "Titillium Web", sans-serif;
    font-size: 14px;
    color: rgb(67, 80, 94);
    line-height: 1.43;
    padding: 10px 40px 10px 12px;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin-right: 0;
  }

  input:placeholder-shown+label {
    position: absolute;
    font-family: "Titillium Web", sans-serif;
    font-size: 14px;
    color: rgb(67, 80, 94);
    background-color: rgb(255, 255, 255);
    left: 12px;
    top: 10px;
    cursor: pointer;
    display: block;
    padding: 0px;
  }

  input:focus+label {
    display: block;
    font-family: "Titillium Web", sans-serif;
    font-size: 12px;
    color: rgb(96, 110, 125);
    background-color: rgb(255, 255, 255);
    pointer-events: none !important;
    position: absolute;
    top: -14px;
    padding: 4px;
    left: 12px;
    transition: top 0.4s ease 0s, left 0.4s ease 0s, font-size 0.4s ease 0s;
  }

  label {
    display: block;
    font-family: "Titillium Web", sans-serif;
    font-size: 12px;
    color: rgb(96, 110, 125);
    background-color: rgb(255, 255, 255);
    pointer-events: none;
    position: absolute;
    top: -13px;
    padding: 4px;
    left: 12px;
    transition: top 0.4s ease 0s, left 0.4s ease 0s, font-size 0.4s ease 0s;
  }

  p {
    margin: 0px;
    font-family: "Titillium Web", sans-serif;
    font-size: 12px;
    color: rgb(96, 110, 125);
    text-align: left;
    padding: 4px 12px 0px;
  }

}



// MODAL DE ERRORES //////////////////////////////////////

.modal-errores {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: #111111bd;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;

  .modal-error--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 30px;
    background-color: #FFF;
    width: 640px;

    box-shadow: 0px 4px 8px rgba(67, 80, 94, 0.2);
    border-radius: 10px;

    .modal-error--content {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 20px;

      h5 {
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
        color: #43505E;
      }

      .error-time {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .text {
          font-weight: 600;
          font-size: 18px;
          line-height: 20px;
          text-align: center;
          color: #424893;
        }

        .time {
          font-weight: 600;
          font-size: 26px;
          line-height: 26px;
          text-align: center;
          color: #DC5A00;

        }
      }

      .question {
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: #424893;
      }
    }

    .modal-error--buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      padding: 0px;
      gap: 10px;
      width: 100%;

      button {

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 15px;
        border-radius: 10px;
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
        height: 50px;
        min-width: 160px;
        width: auto;
        cursor: pointer;

      }

      .button-secondary {
        background: #FFFFFF;
        border: 1px solid #D2D9DF;
        box-shadow: 0px 4px 12px rgba(67, 80, 94, 0.1);
        color: #43505E;
      }

      .button-primary {
        background: #EF6F00;
        border: 1px solid #DC5A00;
        box-shadow: 0px 4px 12px rgba(67, 80, 94, 0.1);
        color: #FFF;
      }
    }
  }
}

// FIN MODAL DE ERRORES //////////////////////////////////////



span.steps-title {
  font-weight: 600 !important;
  font-size: 22px;
}

app-solicitar-reembolso {
  .css-jc5uxg {

    margin: 0;
  }
}

.css-wrkgm7 {
  display: flex !important;
  margin-top: 10px !important;
  width: 688px !important;
}

.w-full.inputsThirdField {
  box-sizing: border-box;
  position: relative;
  height: 40px;
  width: 100%;
}


.steps__container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  height: auto;
}

.steps-content__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;

}

.transicion-de-despliegue {
  height: 25px;
  width: 1%;
  opacity: 0;
  animation-name: despliegue;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.question-despliegue {
  height: 25px;
  width: 1%;
  opacity: 0;
  animation-name: question-despliegue;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}



// TRANSISIONES steps-content__container

@keyframes despliegue {
  0% {
    display: none;
    height: 25px;
    width: 1%;
    overflow: hidden;
  }

  1% {
    opacity: 0;
    display: flex;
    height: 25px;
    width: 1%;
    overflow: visible;
  }

  50% {
    width: 100%;
  }

  100% {

    opacity: 1;
    height: auto;
    width: 100%;
  }
}

@keyframes question-despliegue {
  0% {
    display: none;
    height: 25px;
    width: 1%;
    overflow: hidden;
  }

  1% {
    opacity: 0;
    display: flex;
    height: 25px;
    width: 1%;
    overflow: visible;
  }

  50% {
    min-width: 40vw;
    max-width: 80vw;
  }

  100% {

    opacity: 1;
    height: auto;
    min-width: 40vw;
    max-width: 80vw;
  }
}




// FIN TRANSICIONES

.css-2z5p18 {
  margin-bottom: 0px !important;
  padding-left: 25px !important;
}

.question__container, #question__container-01, #question__container-02 {
  display: flex;
  gap: 15px;
  min-width: 40vw;
  max-width: 80vw;
  width: auto;
  height: auto;
  align-items: baseline;
  justify-content: space-between;

  p{
    display: flex !important;
    width: 100% !important;
  }

  ds-paragraph p span {
    display: flex !important;
    width: 100% !important;
    align-items: center;
    font-size: 18px;

  }

  .question-options {
    display: flex;
    width: auto;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;

  }
}

ds-title {
  height: auto;
  margin: 0 !important;
  font-size: 22px !important;
  font-weight: 600 !important;
}

.grid,
.col-span-12 {
  width: 100% !important;
}


.css-2g1v7x {
  display: flex !important;
  flex-direction: column;
  height: auto;
}

.inputs__container {
  display: flex;
  align-items: center;
  height: 45px;
  gap: 5px;

  ds-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;

    span {
      display: flex !important;
      flex-direction: column;
      width: 24px;
      height: auto;

    }
  }

}

.gap-datepicker {
  gap: 5px;
}


.upload-documents__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  

  ds-paragraph {
    display: flex !important;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
    height: 22px;

    .css-na3qa4 {
      height: auto;
    }

    svg {
      width: 20px;
      height: 20px;
      color: #ef6f00 !important;

    }

    .css-1ssdf2w {
      width: 100% !important;

      span {
        width: auto !important;
      }
    }
  }

  .documents__options {
    display: flex;
    align-items: flex-start;
    gap: 30px;

    .mx-5 {
      margin: 0 !important;
    }
  }

}

.css-1o7esu3 {
  width: 100% !important;
}

.css-ou2yfm {
  height: 40px !important;
  gap: 10px;

  ds-paragraph {
    display: flex !important;
    align-items: center;
    height: 40px !important;
  }

  .css-1y7fx7v {
    display: flex !important;
    flex-direction: column-reverse;
    gap: 5px;
    margin: 0 !important;
    z-index: 4;

    .css-1gq3ka1 {
      border: 1px solid #FAFAFA !important;

      .css-1dzmd0k {
        justify-content: center;
      }
    }
  }
}

ds-icon {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center !important;
  height: auto;
  margin: 0 !important;

  .css-19x5ls3 {
    display: flex !important;
    justify-content: center;
    align-items: center !important;

  }

  .css-7kp13n {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    height: auto !important;



    span {
      display: flex !important;
      flex-direction: column;
      width: 100%;
      height: auto !important;

    }
  }

  .css-1r20hg {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    height: 20px;
  }
}



ds-button {
  display: flex !important;
  height: 40px !important;
  cursor: pointer;

  .css-2vxw4u {
    min-width: 160px;
    width: auto;
    height: 40px !important;
    padding: 10px 10px 10px 20px !important;
    gap: 10px !important;

    ds-icon {
      width: auto;
      height: auto;
    }

    span {
      display: flex !important;
      margin: 0 !important;
      text-align: center;
      height: auto;
    }



  }
}

app-table-resume-detalle-prestacion {
  width: 100% !important;

  ds-table {
    width: 100% !important;

    ds-table-body-row {
      height: 40px !important;
      background: #fff !important;

    }

    ds-table-body-row:hover {
      background: #fff !important;
    }

    .row_total {
      background-color: #bcdeb1 !important;

      span {
        font-weight: 600 !important;
      }
    }

    .row_total:hover {
      background-color: #bcdeb1 !important;
    }

  }
}

.css-lirlie {
  border: 1px solid #6B77B3 !important;
  box-shadow: 0px 4px 12px rgba(67, 80, 94, 0.1) !important;
}

ds-title {
  display: flex !important;
  align-items: flex-start;
  width: 100%;
  padding-top: 2px !important;

  height: auto !important;
  font-size: 22px;
  font-weight: 600;
  line-height: 22px;
  color: #424893;

  h4 {
    line-height: 26px !important;
  }
}

.page-title__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  ds-title {
    width: fit-content;
  }

  div {
    height: fit-content !important;
  }
}

.css-1mpi4ja {
  box-shadow: none !important;
}



.modal-container {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.72);
  position: fixed !important;
  top: 0px;
  right: 0px;
  display: grid;
  align-items: center;
  justify-content: center;
  z-index: 100;
  overflow: hidden;

  .modal-wrapper {
    z-index: 101;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 30px 30px;
    gap: 30px;

    position: relative;
    width: 760px;
    height: auto;

    background: #FFFFFF !important;
    border: 1px solid #D2D9DF;

    box-shadow: 0px 4px 8px rgba(67, 80, 94, 0.2);
    border-radius: 8px;

    .titulo-modal-detalle {
      font-weight: 600 !important;
      font-weight: 600 !important;
      width: 100%;
      height: auto;
      padding: 0 !important;

      span {
        color: var(--sec2) !important;
        font-size: 1.35rem !important;
        text-align: left;
      }
    }

    .modal--form__container {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 20px;

      .modal--form {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;

        .modal--row {
          display: flex;
          width: 100%;
          gap: 10px;

          ds-search-v2,
          ds-select-v2,
          ds-input-v2 {
            width: 100% !important;
          }
        }
      }

      .form--total__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        width: 100%;
        height: 40px;

        background: #424893;
        border: 1px solid #232272;
        border-radius: 8px;

        span {
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 18px;
          color: #FFFFFF;
        }
      }

      .form--total__container.disabled {
        ds-paragraph>p>span {
          color: rgb(146, 158, 171);
        }

        background: #F1F3F5;
        border: 1px solid #D2D9DF;
      }
    }

  }

}

.reembolso__botones--container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.custom-scroll-container::-webkit-scrollbar {
  -webkit-appearance: none;
}

.custom-scroll-container::-webkit-scrollbar:vertical {
  width: 10px;
}

.custom-scroll-container::-webkit-scrollbar-button:increment,
.custom-scroll-container::-webkit-scrollbar-button {
  display: none;
}

.custom-scroll-container::-webkit-scrollbar:horizontal {
  height: 10px;
}

.custom-scroll-container::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.custom-scroll-container::-webkit-scrollbar-track {
  border-radius: 10px;
}

.prestaciones__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;

  gap: 15px;
  width: 100%;
  box-sizing: border-box;

  .col-span-4 {
    grid-column: auto;
  }
}

.line-divider {
  width: 100%;
  height: 1px;
  background-color: #D2D9DF;

}

.doc-liq {
  cursor: pointer !important;
}

.css-1xunp8i {
  box-shadow: none !important;
}

.css-ijte3v {
  box-shadow: none !important;
  width: 190px !important;
}

.css-ijte3v:hover {
  background-color: #EF6F00 !important;
}

.css-1c9x7sh {
  box-shadow: 0px 4px 12px rgba(67, 80, 94, 0.1) !important;
  border: 1px solid #6B77B3 !important;
}

.modal_preview_container[_ngcontent-mlf-c68] .modal_preview_doc[_ngcontent-mlf-c68] .modal_preview_content[_ngcontent-mlf-c68] .document[_ngcontent-mlf-c68] embed[_ngcontent-mlf-c68] {
  width: 100% !important;

  img {
    width: 100% !important;
  }
}

.document--viewer {
  img {
    width: 100%;
    max-height: 60vh;
  }

  display: flex;

  embed {
    width: 100% !important;

    #documentent html body img {
      width: 100% !important;
    }
  }
}

.document--text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;

  .title_file_preview {
    font-weight: 700;
    font-size: 26px;
    line-height: 26px;
    color: #424893;
  }

  .subtitle_file_preview {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #242C35;
  }
}

.css-1r2g4su {
  height: auto !important;
  gap: 10px;

  .css-7kp13n {

    width: 26px;
    height: 26px;
    display: grid !important;
    place-content: center;

    span {
      display: flex;
    }
  }

  .css-7kp13n:hover {
    background-color: #F1F3F5;
    border-radius: 20px;
  }

  .css-1n9apyz {
    gap: 5px;
    margin: 0 !important;
    border-radius: 20px !important;

    .css-7mrpfl,
    .css-16sfy5f {
      font-size: 14px;
      border: none;
      width: 28px !important;
      height: 24px !important;
      margin: 0 !important;
      padding: 0 0 2px 0 !important;
      border-radius: 14px !important;

    }
  }

}

.page-resumen--title__container {

  .back-button__text {
    width: 90px !important;
    font-size: 16px !important;
  }

  .css-s79kzq span {
    margin: 0 !important;
  }

}

.agregar-otro-detalle {
  height: 40px;

  .css-s79kzq {
    padding: 0 5px !important;
    height: 40px !important;
  }

  ds-icon {
    width: 24px !important;
  }

}


#fecha_on_generales {
  width: 100% !important;

  ds-single-datepicker div {
    height: 40px !important;
    max-width: 100% !important;

    p {
      display: none !important;
    }

    // #start-date-single-undefined{
    //   padding: 10px !important;
    // }

    #rightIcon {
      position: absolute;
      display: flex !important;
      height: 100%;
      top: -2px !important;
      right: 12px;
    }

  }


  .litepicker .container__days .day-item.is-start-date {
    padding-right: 0 !important;
    margin-right: 0 !important;
  }

}

.css-47y4r6 {
  display: flex !important;
  height: auto !important;
}

.select_container {
  .input_container {
    label {
      padding: 2px !important;
    }
  }
}

.table-mobile {
  display: none;
}


//////////////////////////////////////////////////////////////
// Responsive mobile

@media (max-width: 720px) {

  .steps__container {
    gap: 10px;
  }

  .page-title__container {
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
  }

  .agregar-otro-detalle {

    .css-2vxw4u.css-lirlie {
      padding: 10px !important;
    }
  }

  .agregar-detalle {
    .css-2vxw4u.css-lirlie {
      padding: 10px !important;
      justify-content: center !important;
    }
  }

  ds-button {
    .css-2vxw4u {
      padding: 0 !important;

      .back-button__text {
        display: none !important;
      }


    }


    .css-15peefa {
      justify-content: flex-start !important;
    }



  }

  .stepperOneContent {
    width: 100% !important;
  }

  .wrapper-select-parentesco {
    width: 100% !important;
  }

  .prestaciones__container {
    grid-template-columns: 1fr;
  }

  .question__container {
    flex-wrap: wrap;
    width: 90vw !important;

    ds-paragraph {
      width: 90vw;

      span {
        width: 100%;
      }
    }
  }

  .upload-documents__container ds-paragraph {
    height: auto;
  }

  .documents__options {
    flex-direction: column;
  }

  .cards-document__container {
    flex-direction: column;
  }


  .reembolso__botones--container,
  #ds-button-finalizar,
  #ds-button-siguiente,
  .btn-siguiente {
    width: 100% !important;

    div {
      width: 100% !important;

      .css-1vyubn8.css-2z0lnu,
      .css-1vyubn8 {
        width: 100% !important;
      }
    }

  }



  // Modal detalles de prestación

  .modal-container {

    .modal-wrapper {
      width: 90vw;
      padding: 20px 15px 15px 15px;

      .modal--row {
        flex-direction: column;
      }
    }
  }

  // FIn Modal detalles de prestación

  // Modal finalización

  .modal-pantalla-final {

    .wrapper-final {
      width: 90vw !important;

      .modal--container {
        flex-direction: column;
        padding: 0 !important;

        .detalles {
          flex-direction: column;
          gap: 20px !important;
        }
      }

      .bank-title {
        text-align: left !important;

      }

      .mail {
        .css-p4f3xo span {
          display: inline !important;
        }
      }

      .reembolso__botones--container {
        justify-content: center;
      }
    }
  }

  // Fin Modal finalización

  // Historial
  .historial-wrapper {
    width: 100% !important;
  }

  .card-historial__container {
    flex-direction: column;

    .button-wrapper {
      width: 100% !important;

      ds-button {
        background-color: #ef6f00;
        justify-content: center;
        border-radius: 25px;
      }
    }
  }

  //Tabla
  .table-desktop {
    display: none !important;
  }



  .table-mobile--container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border: 1px solid #D2D9DF;
    border-radius: 8px;



    .table-mobile--items {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 25px;
      gap: 20px;
      width: 100%;

      input {
        display: none;
      }

      .collapsable-content {
        height: 40px;
        overflow: hidden;

        .content {
          height: 0px;
          transition: all 0.3s ease-in;
        }
      }

      .hidden {
        // display: none !important;
        height: 0px;
        opacity: 0;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
      }

      input:checked~.collapsable-content .hidden {
        // display: flex !important;
        height: 100%;
        opacity: 1;
      }

      input:checked~.collapsable-content {
        display: flex !important;
        flex-direction: column;
        gap: 20px;
        height: auto;
        overflow: visible;

        .content {
          height: 36px;
        }

      }

      input:checked~.titulo ds-icon {
        transform: rotate(180deg);
      }



      .titulo,
      label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        width: 100%;
        height: 20px;

        h5 {
          font-weight: 600;
          font-size: 18px;
          line-height: 20px;
          color: #424893;
        }

        .toggle-container {
          width: 20px;
          height: 20px;
          background: #424893;
          border-radius: 4px;
          display: grid;
          place-content: center;

          .bi-chevron-down,
          ds-icon {
            color: white;

            span {
              height: auto !important;
              display: grid;
              place-content: center;
            }
          }
        }
      }

      .content-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
      }

      .download-files {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        justify-content: space-between;
        height: 70px !important;
      }

      .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        width: 100%;

        .subtitulo {
          font-weight: 600;
          font-size: 16px;
          line-height: 18px;
          color: #43505E;
        }

        .info {
          font-weight: 400;
          font-size: 16px;
          line-height: 18px;
          color: #43505E;
        }

        .doc-download {
          display: flex;
          gap: 5px;
          color: #424893;
          text-decoration-line: underline;

          span,
          img {
            display: grid;
            place-content: center;
          }
        }
      }

    }

    .table-mobile--items:nth-child(even) {
      background-color: #F1F3F5 !important;
    }

    .table-mobile--totalizers {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 2px;
      width: 100%;

      .subtotal {
        background: #E9F8E6;
      }

      .subtotal-resumen {
        background: #F1F3F5;
      }

      .total {
        background: #BCDEB1;
      }

      .subtotal,
      .total,
      .subtotal-resumen {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 25px;
        width: 100%;
        height: 40px;

        h6 {
          font-weight: 600;
          font-size: 16px;
          line-height: 18px;
          color: #242C35;
        }
      }
    }
  }

  // Fin Historial

  // Modal viewer
  .modal_preview_container {
    padding: 10px;

    .document--text {
      align-items: center;

      .title_file_preview {
        font-size: 20px;
        line-height: 20px;
        color: #424893;
      }

      .subtitle_file_preview {
        font-size: 14px;
        line-height: 14px;
        color: #242C35;
      }
    }
  }

  // Fin Modal viewer


  .page-resumen--title__container {
    flex-direction: column-reverse;
    align-items: flex-start !important;
    gap: 10px;

    ds-title {
      gap: 0px !important;
      flex-direction: column;
    }

    ds-button {
      height: 20px !important;

      .css-s79kzq {
        padding: 0 !important;
        height: 20px !important;

        .back-button__text {
          display: none !important;
        }
      }
    }
  }

  .seccion-agregar-nuevo-reembolso {
    flex-direction: column;
    gap: 15px;
  }

  .otro-reembolso__container {
    .reembolso__row {
      flex-wrap: wrap;
    }

    .botones__row {

      #ds-button-siguiente,
      #ds-button-finalizar {
        width: 100% !important;

        div,
        .css-ijte3v {
          width: 100% !important;
        }
      }
    }
  }

  .text-normal--mail {
    flex-direction: column !important;
  }

  .pagination__container {
    flex-wrap: wrap;
    justify-content: center !important;
    gap: 20px;
  }


  .text-normal--mail {
    flex-direction: column !important;
  }

  .pagination__container {
    flex-wrap: wrap;
    justify-content: center !important;
    gap: 20px;
  }


  .modal-errores {
    width: 100%;
    padding: 15px;

    .modal-error--container {
      width: 100%;
    }

    button {
      min-width: 100px !important;
    }
  }

}

// Fin Responsive mobile

// ── Estilos Calendario ──

.litepicker .container__days .day-item.is-start-date.is-end-date {
  padding-left: 8px !important;
  margin-right: 8px !important;
}

.css-16uiodj input[type="text"] {
  font-size: 14px !important;
}

.css-1m6txwz input[type="text"] {
  font-size: 14px !important;
}

.css-1xngu61 input[type="text"] {
  font-size: 14px !important;
}

.css-1m6txwz input[type="text"]:placeholder-shown+label {
  padding-top: 3px !important;
}

.css-16uiodj label,
.css-1m6txwz label,
.css-1xngu61 label {
  color: #606E7D !important
}


.css-16uiodj input[type="text"]:hover {
  border-width: 1px 1px 1px 4px !important;
  border-color: #628e37 !important;
}

.css-1xngu61 input[type="text"]:hover {
  border-width: 1px 1px 1px 4px !important;
  border-color: #E60D2E !important;
}

.css-1m6txwz input[type="text"]:hover {
  border: 1px solid #d2d9df !important;
  color: #606E7D !important;
}

// ── Fin Estilos Calendario ──

.icono-delete {
  cursor: pointer !important;
}