// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {

  /**defaults**/
  --white: #FFFFFF;
  --not-black: #202020;

  /** primary **/
  --pri0: #DC5A00;
  --pri1: #EF6F00;
  --pri2: #F39837;
  --pri3: #F7BC6F;
  --pri4:#FBDFB1;
  --pri5:#FDF6E9;

  /** secondary **/
  --sec0: #2B0D61;
  --sec1: #232272;
  --sec2: #424893;
  --sec3: #6B77B3;
  --sec4: #ADB8DA;
  --sec5: #E6ECF8;
  
  /** tertiary **/
  --ter0: #242C35;
  --ter1: #43505E;
  --ter2: #606E7D;
  --ter3: #8F9EAD;
  --ter4: #D2D9DF;
  --ter5: #F1F3F5;

  /** Morado **/
  --violet1: #6A2E92;
  --violet2: #884FAC;
  --violet3: #A978C6;
  --violet4: #D2B1E3;
  --violet5: #F5EAFB;
  
  /** Rojo **/
  --red1: #E60D2E;
  --red2: #EC3F5A;
  --red3: #F37488;
  --red4: #F9B3BF;
  --red5: #FFEDED;

  /** Cyan **/
  --cyan1: #018CCD;
  --cyan2: #329CDA;
  --cyan3: #68B2E6;
  --cyan4: #ADD3F4;
  --cyan5: #ECF5FF;

  /** Verde **/
  --green1: #628E37;
  --green2: #78A856;
  --green3: #93C17C;
  --green4: #BCDEB1;
  --green5: #E9F8E6;

  /** Tamaños textos **/

  /** Weight: h1, h2, h3, h4, h5, h6 **/
  --wight1: 400;
  --wight2: 600;
  --wight3: 700;

  /** Line-height: h1 **/
  --ion-lineheight-h1: 3rem;

  /** Line-height: h2 **/
  --ion-lineheight-h2: 2.6rem;

  /** Line-height: h3 **/
  --ion-lineheight-h3: 2.2rem;

  /** Line-height: h4 y h5 **/
  --ion-lineheight-h45: 2rem;

  /** Line-height: h6 **/
  --ion-lineheight-h6: 1.8rem;

  /** p-md **/
  --ion-lineheight-md: 1.6rem;

  /** p-sm **/
  --ion-lineheight-sm: 1.4rem;

  /** Font-style **/
  --reg: "normal";
  --ita: "italic";

  /** Font-size **/
  --ion-size-md: 1.4rem;
  --ion-size-sm: 1.2rem;
}
/*
@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
  body {
    --ion-color-primary: #428cff;
    --rgb: 66,140,255;
    --contrast: #ffffff;
    --contrast-rgb: 255,255,255;
    --shade: #3a7be0;
    --tint: #5598ff;

    --ion-color-secondary: #50c8ff;
    --rgb: 80,200,255;
    --contrast: #ffffff;
    --contrast-rgb: 255,255,255;
    --shade: #46b0e0;
    --tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --rgb: 106,100,255;
    --contrast: #ffffff;
    --contrast-rgb: 255,255,255;
    --shade: #5d58e0;
    --tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47,223,117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255,213,52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255,73,97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244,245,248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34,36,40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255,255,255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }

  /*
   * Material Design Dark Theme
   * -------------------------------------------
  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;
    --ion-item-background: #1e1e1e;
    --ion-toolbar-background: #1f1f1f;
    --ion-tab-bar-background: #1f1f1f;
    --ion-card-background: #1e1e1e;
  }
}
*/